#landing-page-content {
  font-family: $default_font !important;
  width: 100%;
  overflow: hidden !important
}


.select-wrapper {
  .caret, input, ul {
    display: none !important;
  }
}

// Simple Scrollbar

.ss-wrapper {
  overflow: hidden;
  height: 100%;
  position: relative;
  z-index: 1;
  float: left
}

.ss-content {
  height: 100%;
  width: 100%;
  padding: 0 32px 0 0;
  position: relative;
  right: -18px;
  overflow: auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.ss-scroll {
  position: relative;
  background: #CC8CF1;
  width: 5px;
  border-radius: 4px;
  top: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 1;
  transition: opacity .25s linear
}

.ss-container:hover .ss-scroll {
  opacity: 1
}

.ss-grabbed {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none
}

// Container

.wide-container {
  width: 90%;
  max-width: 1380px;
  margin: 0 auto;
}

// Banner

.embrace-words-banner {
  position: relative;
  color: #fff;
  h1 {
    font-weight: 300;
    font-size: 5vw;
  }

  p {
    font-size: 1.2vw;
  }

  img {
    display: block;
    width: 100%;
  }
  .wide-container {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (min-width: 1400px) {
  .embrace-words-banner {
    h1 {
      font-size: 5.625rem;
    }

    p {
      font-size: 1.375rem;
    }
  }
}

// Participation Form

#participation-form {
  padding: 48px 0;
}

.participation-form-content {
  display: flex;
  justify-content: space-between;
  color: $purple;
  h3 {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 52px;
  }
  form {
    width: 42%;
  }

  img {
    display: block;
    width: 40%;
  }

  select {
    display: block !important;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  input:not([type="checkbox"]), select {
    border-radius: 40px;
    padding: 0 24px;
  }

  textarea {
    border-radius: 44px;
    padding: 24px;
    height: 270px !important;
    resize: none;
  }

  select {
    cursor: pointer;
  }

  input:not([type="checkbox"]), textarea, select {
    height: 52px;
    border: 1px solid $purple !important;
    background-color: transparent;
    margin-bottom: 28px;
    font-size: 1.125rem;
    font-weight: 300;
    outline: none;
    color: $purple;
    &:focus {
      border-width: 2px !important;
    }
  }

  .form-group {
    position: relative;
    &.has-danger {
      input, select, textarea {
        border-color: red !important;
      }
    }
    .pristine-error {
      color: red;
      font-size: 0.75rem;
      position: relative;
      top: -20px;
      padding-left: 28px;
    }

    &.has-danger, {
      ::placeholder, select {
        color: red !important;
      }
    }
  }

  button {
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    padding: 8px 40px;
    display: block;
    border: 0;
    border-radius: 40px;
    font-size: 1.25rem;
    margin: 40px auto 0;
    background: rgb(223,169,243);
    background: -moz-linear-gradient(180deg, rgba(223,169,243,1) 0%, rgba(170,68,214,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(223,169,243,1) 0%, rgba(170,68,214,1) 100%);
    background: linear-gradient(180deg, rgba(223,169,243,1) 0%, rgba(170,68,214,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dfa9f3",endColorstr="#aa44d6",GradientType=1);
  }

  ::placeholder {
    font-weight: 300;
    color: $purple;
  }
}

.ew-accept {
  .pristine-error {
    display: none !important
  }
  label {
    position: relative;
    cursor: pointer;
    padding-left: 32px;
    max-width: 340px;
    text-align: center;
    margin: 0 auto;
    color: $purple;
    font-size: 0.75rem;
    &::before {
      content: '';
      position: absolute;
      height: 20px;
      width: 20px;
      border: 1px solid $purple;
      left: 0;
      top: 50%;
      margin-top: -10px;
    }
    &::after {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      top: 50%;
      margin-top: -6px;
      left: 4px;
      background-color: $purple;
      transition: 0.2s;
      transform: scale(0);
    }
  }
  input:checked {
    & + label {
      &::after {
        transform: scale(1);
      }
    }
  }

  &.has-danger {
    label {
      color: red;
      &::before {
        border-color: red;
      }
    }
  }
}

// Map

#ew-message-list {
  background-color: #DFA9FE;
  padding: 52px 0;
  width: 100%;
  overflow: hidden !important;
}

.messages-plus-map {
  display: flex;
  justify-content: space-between;
}

.ew-map {
  width: calc(100% - 588px);
  svg {
    cursor: pointer;
    display: block;
    width: 100%;
    height: auto;
    font-family: $default_font !important;
    .active-location {
      fill: #731aa6 !important;
    }
    text {
      pointer-events: none;
    }
  }
}


.ew-current-messages-list {
  width: 558px;
  h3 {
    font-weight: 300;
    font-size: 4rem;
    color: $purple;
    text-align: right;
  }
  .ss-wrapper {
    width: 100%;
  }
}

.ew-current-messages-list-wrapper {
  padding: 32px 16px;
  width: 100%;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 1px 1px 10px rgba(#000, 0.2);
  margin-top: 52px;
  max-width: 480px;
  float: right;
  .message-list-region {
    padding: 0 16px;
    display: block;
    font-weight: bold;
    color: $purple;
    font-size: 1.25rem;
    margin-bottom: 24px;
  }

  .ew-fallback-message, .ew-fallback-empty {
    padding: 0 16px;
  }

  .ew-fallback-empty {
    display: none;
    &.showing {
      display: block;
    }
  }

  ul {
    height: 500px;
    padding: 0 16px;
    overflow: auto;
    position: relative;
    li {
      border: 1px solid #DFA9FE;
      padding: 28px;
      border-radius: 40px;
      &:not(:last-child) {
        margin-bottom: 16px;
      }

      &:not(.active-message) {
        display: none;
      }
    }

    .ps__rail-y {
      display: block !important;
      opacity: 1 !important;
      .ps__thumb-y {
        background-color: #DFA9FE !important;
      }
    }
  }
}

// About Campaign

#ew-about-our-campaign {
  position: relative;
  color: #fff;
  img {
    display: block;
    width: 100%;
  }

  .wide-container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  .ew-about-content {
    width: 40%;
    text-align: right;
    float: right;
    h3 {
      font-size: 3vw;
      margin-bottom: 40px;
    }
    p {
      max-width: 400px;
      float: right;
    }
  }
}

@media only screen and (min-width: 1400px) {
  #ew-about-our-campaign {
    .ew-about-content {
      h3 {
        font-size: 4rem;
      }
    }
  }
}

#ew-modal-success-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99999999;
  background-color: rgba(#000, 0.4);
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  &.success {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

#ew-modal-success {
  width: 90%;
  max-width: 600px;
  background-color: $purple;
  padding: 32px;
  color: #fff;
  text-align: center;
  line-height: 1.6;
  border-radius: 40px;
  box-shadow: 1px 1px 10px rgba(#000, 0.1);
  position: relative;

  .ew-close {
    display: block;
    position: absolute;
    width: 28px;
    top: 20px;
    right: 24px;
    cursor: pointer;
  }

  > div {
    max-width: 320px;
    margin: 0 auto;
  }
  h4 {
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.6;
  }

  img {
    display: inline-block;
    width: 160px;
  }

  .ew-social-list {
    a {
      display: inline-block;
      &:not(:last-of-type) {
        margin-right: 8px;
      }
    }
    img {
      width: auto;
      height: 32px;
    }
  }
}