// Color vars

$yellow: #FFCC3E;
$purple: #5D1499;
$green: #66A600;
$pink: #ec0cc3;
$dark_grey: #282828;
$alpha_black80: rgba(#000, 0.8);

// Default font

$default_font: 'Montserrat', sans-serif;

// Fonts size

$font-base: 16px;
$title-size: $font-base * 1.5;
$paragraph-size: $font-base;
