.main-title {
    color: $dark_grey;
    padding: 25px 0;
    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
        font-size: $title-size;
        margin: 0;
    }

    &.purple-title {
        color: $purple;
    }

    &.center { 
        text-align: center;
    }

    &.with-subtitle {
        span {
            display: block;
            font-size: 14px;
            font-weight: 300;
        }
    }
}