<footer>
    <div class="main-footer">
        <div class="footer-info">
            <div class="container">
                <div class="row">
                    <div class="col l2">
                        <span class="title-widget">Institucional</span>
                        <div class="text-widget">
                            <ul>
                                <li class="link"><a href="/institucional/mobile">Aplicativo</a></li>
                                <li class="link"><a href="/imprensa">Imprensa</a></li>
                                <li class="link"><a href="/institucional/politica-de-privacidade">Política de Privacidade</a></li>
                                <li class="link"><a href="/institucional/termos-de-uso">Termos de Uso</a></li>
                                <li class="link"><a href="/institucional/sobre-nos">Sobre Nós</a></li>
                                <li class="link"><a href="/institucional/carreiras">Carreiras</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l2">
                        <span class="title-widget">Categorias</span>
                        <div class="text-widget">
                            <ul>
                                <li class="link"><a href="/onibus">Destinos</a></li>
                                <li class="link"><a href="/glossario">Glossário</a></li>
                                <li class="link"><a href="/rodoviaria">Rodoviárias</a></li>
                                <li class="link"><a href="/viacao">Viações</a></li>
                                <li class="link"><a href="/onibus/feriado-sao-joao">Passagens para São João</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l2">
                        <span class="title-widget">Business</span>
                        <div class="text-widget">
                            <ul>
                                <li class="link"><a href="/institucional/agencias-de-viagem">Agência de Viagens</a></li>
                                <li class="link"><a href="/institucional/corporativo">Corporativo</a></li>
                                <li class="link"><a href="/institucional/programa-de-afiliados">Programa de Afiliados</a></li>
                                <li class="link"><a href="https://play.google.com/store/apps/details?id=com.clickbus.mobile&amp;referrer=adjust_reftag%3DcDrOoTUGHjWKX%26utm_source%3DFooter%26utm_campaign%3Dfooter">App Android</a></li>
                                <li class="link"><a href="https://itunes.apple.com/app/apple-store/id889723827?pt=95653972&amp;ct=Footer&amp;mt=8">App IOS</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l2">
                        <span class="title-widget">Ajuda</span>
                        <div class="text-widget">
                            <ul>
                                <li class="link"><a href="/institucional/atendimento">Atendimento</a></li>
                                <li class="link"><a href="/institucional/duvidas-frequentes">Dúvidas Frequentes</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l3 offset-l1">
                        <span class="title-widget">SAC</span>
                        <div class="customer-service">
                            <i class="icon-customer-service"></i>
                            <div class="phone">
                                <p>4020-0148</p>
                                <p>0800 038 6013</p>
                            </div>
                        </div>
                        <span class="text-widget">De seg. a sex. das 8h às 20h. Finais de semana e feriados das 9h às 16h.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row payments separator">
                <div class="col l9">
                    <span class="title-widget">Pagamento</span>
                    <div class="cards">
                        <ul class="icons-list">
                            <li class="icons-item">
                                <div class="payment-master-card">
                                    <img src="https://static.clickbus.com/live/icones/mastercard.svg" alt="Master Card" title="Master Card">
                                </div>
                            </li>
                            <li class="icons-item">
                                <div class="payment-visa">
                                    <img src="https://static.clickbus.com/live/icones/visa.svg" alt="Visa" title="Visa">
                                </div>
                            </li>
                            <li class="icons-item">
                                <div class="payment-amex">
                                    <img src="https://static.clickbus.com/live/icones/american-express.svg" alt="Amex" title="Amex">
                                </div>
                            </li>
                            <li class="icons-item">
                                <div class="payment-elo">
                                    <img src="https://static.clickbus.com/live/icones/elo.svg" alt="Elo" title="Elo">
                                </div>
                            </li>
                            <li class="icons-item">
                                <div class="payment-diners">
                                    <img src="https://static.clickbus.com/live/icones/diners.svg" alt="Diners" title="Diners">
                                </div>
                            </li>
                            <li class="icons-item">
                                <div class="payment-hipercard">
                                    <img src="https://static.clickbus.com/live/icones/hipercard.svg" alt="Hipercard" title="Hipercard">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col l3">
                    <div class="security-certificate">
                        <span class="title-widget">Segurança</span>
                        <span class="text-widget">Compra 100% Segura</span>
                        <ul class="icons-list">
                            <li class="icons-item">
                                <div class="security-rapid-ssl">
                                    <img src="https://static.clickbus.com/live/icones/rapidssl.svg" alt="Rapid SSL" title="Rapid SSL">
                                </div>
                            </li>
                            <li class="icons-item">
                                <div class="security-cadastur">
                                    <img src="https://static.clickbus.com/live/icones/cadastur.svg" alt="Cadastur" title="Cadastur">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row social-media separator">
                <div class="col l9">
                    <p class="text-widget">© ClickBus 2019</p>
                </div>
                <div class="col l3">
                    <ul class="icons-list social-media-logos">
                        <li class="icons-item">
                            <a href="https://www.facebook.com/clickbus" target="_blank">
                                <div class="social-facebook">
                                    <img src="https://static.clickbus.com/live/icones/facebook.svg" alt="Facebook" title="Facebook">
                                </div>
                            </a>
                        </li>
                        <li class="icons-item">
                            <a href="https://www.youtube.com/channel/UCyIH7qjfMoTu77im4SCHAqw" target="_blank">
                                <div class="social-youtube">
                                    <img src="https://static.clickbus.com/live/icones/youtube.svg" alt="YouTube" title="YouTube">
                                </div>
                            </a>
                        </li>
                        <li class="icons-item">
                            <a href="https://twitter.com/clickbusbr" target="_blank">
                                <div class="social-twitter">
                                    <img src="https://static.clickbus.com/live/icones/twitter.svg" alt="Twitter" title="Twitter">
                                </div>
                            </a>
                        </li>
                        <li class="icons-item">
                            <a href="https://www.instagram.com/clickbus/" target="_blank">
                                <div class="social-instagram">
                                    <img src="https://static.clickbus.com/live/icones/instagram.svg" alt="Instagram" title="Instagram">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-learn-more">
            <div class="container">
                <span class="learn-more-info no-margin">Saiba mais<i class="icon-chevron-down"></i></span>
                <div class="learn-more-wrapper">
                    <div class="links-wrapper">
                        <a class="link" href="/viacao/expresso-itamarati" target="_blank">Expresso Itamarati</a>
                        <a class="link" href="/viacao/eucatur" target="_blank">Viação Eucatur</a>
                        <a class="link" href="/viacao/empresa-cruz" target="_blank">Viação Empresa Cruz</a>
                        <a class="link" href="/viacao/manoel-rodrigues" target="_blank">Viação Manoel Rodrigues</a>
                        <a class="link" href="/viacao/princesa-do-norte" target="_blank">Viação Princesa do Norte</a>
                        <a class="link" href="/viacao/penha" target="_blank">Viação Penha</a>
                        <a class="link" href="/viacao/expresso-uniao" target="_blank">Expresso União</a>
                        <a class="link" href="/viacao/expresso-maringa" target="_blank">Expresso Maringá</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://www.clickbus.com.br/static/js/desktop_main.min.js?v=1.0-537"></script>