<header class="header-main">
    <div class="container">
        <div class="row">
            <a href="/" class="col l2">
                <div class="brand-logo">
                    <img src="https://static.clickbus.com/live/ClickBus/logo-clickbus.svg" alt="ClickBus" title="ClickBus">
                </div>
            </a>
            <div class="col l5 offset-l5 header ">
                <div class="right user-header">
                    <a class="info link" href="/institucional/atendimento">
                        <i class="icon-customer-service"></i>
                        <span class="info-header-phone">Atendimento</span>
                    </a>
                    <a href="/login" class="btn-login btn-secondary btn-medium right" id="header-login-btn">Entrar</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal  -->
    <div id="modal-my-order" class="modal">
        <script type="text/template" id="loader">

            <div class="loader" id="preloader">
                <div class="preloader-wrapper {{size}} active">
                    <div class="spinner-layer {{color}}">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>

        </script>

        <script type="text/template" id="load-spin">

            <div class="load-spin {{color}} loader-align">
                <div class="loader-text">{{ label }}</div>
            </div>

        </script>
        <div class="modal-header valign-wrapper">
            <span>Veja seu pedido</span>
            <i class="icon-close modal-close"></i>
        </div>
        <div class="modal-content custom-content form-content my-order-form-wrapper">
            <form class="my-order-widget" id="my-order-widget" method="get" action="/meu-pedido">
                <div class="row">
                    <a href="/" class="logo">
                        <img src="https://static.clickbus.com/live/ClickBus/logo-clickbus-desk.svg" alt="ClickBus" title="ClickBus">
                    </a>
                    <div class="error-content hide-content"></div>
                    <div class="input-field modal-input col l12" data-error="Digite seu e-mail">
                        <label for="order-email">E-mail</label>
                        <input id="order-email" type="email" name="email" class="validate-email">
                    </div>
                    <div class="input-field col l12" data-error="Digite o número do seu pedido">
                        <label for="order-id">Número do pedido</label>
                        <input id="order-id" name="order-id" type="text" class="required order-id">
                    </div>
                    <div class="col l12">
                        <button class="btn-primary btn-main-cta btn-access-order">Acessar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/template" id="template-user-menu">

        <a href="#" class="user-menu-btn"><i class="icon-logged-user"></i> <span class="user-info">Olá, {{ name }} </span> <i class="icon icon-chevron-down"></i></a>

        <ul class="user-actions-menu hide-menu" id="header-user-actions-menu">
            <li><a class="orders-list-item" href="/cliente/meus-pedidos" id="header-user-action-my-order">Meus pedidos</a></li>
            <li><a class="my-account-item" href="/cliente/minha-conta" id="header-user-action-my-account">Minha conta</a></li>
            <li><a href="/cliente/meus-metodos-de-pagamento" id="header-user-action-payment-methods">Meus pagamentos</a></li>
            <li><a class="logout" href="/logout" id="header-user-action-logout">Sair</a></li>
        </ul>
    </script>
</header>