<section id="landing-page-content">
    <div class="embrace-words-banner">
        <img class="banner-campaign" src="../../assets/public/img/banner.png" alt="Palavras que Abraçam">
        <div class="wide-container">
            <h1>Palavras <br> que abraçam!</h1>
            <p>Este <strong>Dia dos Pais</strong> será diferente… <br> Pensando nisso nós criamos um mural <br> de mensagens para vocês nos ajudarem <br> a deixar esse dia mais <strong>cheio de amor!</strong></p>
            <p>E aí, você topa embarcar nessa?</p>
        </div>
        <!-- /.wide-container -->
    </div>
    <!-- /.embrace-words-banner -->

    <div id="participation-form">
        <div class="wide-container">
            <div class="participation-form-content">
                <form>
                    <h3>Topou? <br> Então bora lá:</h3>
                    <div class="form-group">
                        <input required data-pristine-required-message="O nome é obrigatório, por favor." type="text" id="ew-your-name" name="ew-your-name" placeholder="Seu nome ou apelido" aria-label="Seu nome ou apelido">
                    </div>
                    <div class="form-group">
                        <select required name="ew-location" id="ew-location" aria-label="Estado" data-pristine-required-message="O estado é obrigatório, por favor.">
                            <option value="">De onde você é?</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <textarea required data-pristine-required-message="A mensagem é obrigatório, por favor." name="ew-message" id="ew-message" placeholder="Escreva com o coração" aria-label="Escreva com o coração"></textarea>
                    </div>
                    <!-- /.form-group -->
                    <div class="ew-accept form-group">
                        <input required data-pristine-required-message="Você deve aceitar a publicação, por favor." type="checkbox" value="accept-message-publish" id="accept-message-publish" name="accept-message-publish">
                        <label for="accept-message-publish">Aceito o uso da mensagem em meu nome na ação "Palavras que Abraçam", podendo ser utilizado no site e redes sociais da ClickBus.</label>
                    </div>
                    <!-- /.ew-accept -->
                    <button id="ew-send-new-message" type="submit">Enviar</button>
                </form>
                <img src="../../assets/public/img/illustration.svg" alt="Topou? Então bora lá (ilustração)">
            </div>
            <!-- /.participation-form-content -->
        </div>
        <!-- /.wide-container -->
    </div>
    <!-- /#participation-form -->

    <div id="ew-message-list">
        <div class="wide-container">
            <div class="messages-plus-map">
                <div class="ew-map">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 929.106 932.285">
                        <g id="Grupo_7359" data-name="Grupo 7359" transform="translate(-210 -2011.501)">
                            <g id="Grupo_7342" data-name="Grupo 7342" transform="translate(-808.23 1711.004)">
                                <g id="Grupo_7332" data-name="Grupo 7332" transform="translate(1312.061 598.216)">
                                    <path class="brazil-region" id="centroOeste" data-name="Região Centro Oeste" d="M1533.776,591.592a60,60,0,0,0-10.315,4.95c-4.539,2.888-5.776,1.237-10.726,1.237a23.732,23.732,0,0,0-12.789,3.3c-4.539,2.476-5.776,2.065-9.078-.412s-5.362-.412-7.839.412-7.838.414-11.964-2.474-3.3-7.013-7.427-9.9-2.474,3.711-5.362,9.487-4.952,1.239-15.246-4.951-.433-5.776-.019-12.377-5.776,1.239-8.664,4.127-2.063-5.364-2.476-9.489a51.44,51.44,0,0,1,.825-15.677c1.237-4.951.414-10.315.414-17.328s9.9-24.754,9.9-24.754-102.315-5.776-127.481-8.25-21.041-2.064-26.405-3.3-10.727-5.776-14.026-8.664-7.013-11.552-11.964-18.978-8.252-19.8-9.489-21.039-2.063-2.063-5.365,4.95,0,16.914-1.651,18.977-3.3,11.14-3.3,11.14l-70.96,3.3s2.886,46.621,3.3,49.088,6.188.833,7.839.421,6.188-1.651,19.255,3.713,8.387,5.776,5.911,9.487-1.237,7.427,1.237,14.028,2.065,9.489.414,16.914-2.888,2.888-6.19,10.728a24.757,24.757,0,0,1-10.276,11.455l-1.052-.4a26.682,26.682,0,0,1,6.895,3.492c3.713,2.474,1.857,4.64,2.785,8.973s3.094,6.807,2.474,17.017-1.546,7.427,1.239,8.664,4.331,17.638,5.26,20.732,3.094,0,14.542.309,12.377.62,20.113.62,4.331,8.664,1.546,18.565,8.664,5.879,11.759,7.736,5.26,4.951,7.425,10.212.929,3.4,2.167,11.758-1.239,13.305-2.476,25.372-6.188,10.212-4.331,10.829,8.353,9.592,4.95,11.76-8.355,4.022-6.807,10.21,4.331,11.758,4.331,19.493a86,86,0,0,0,1.548,15.162c.309,2.476,5.259.62,10.521,2.165s8.044,1.548,13.615-1.857,5.568-2.785,6.807.311,4.331,3.094,7.736,3.094,3.713.309,8.664,7.116,3.4,12.686,4.95,24.446,5.57,8.353,7.736,7.736,3.714-1.239,11.138-1.857,6.5,2.785,7.736,5.259a4.731,4.731,0,0,1,.374,1.132l.206,1.672s4.063-11.159,6.539-16.935,4.144-5.776,8.673-12.375,8.241-7.838,16.493-12.377,9.9,1.237,14.44-11.14,8.25-8.664,12.377-21.865,7.838-14.028,13.2-15.679,5.365-2.888,4.127-9.9-1.651-10.315,2.474-14.44,7.427-4.125,8.252-6.6,1.237-6.6,8.664-6.6,16.089-1.2,18.977-3.488,3.3-4.352,12.791-4.352,10.313-2.888,15.677,0,12.789-3.3,14.852-4.951,4.95-11.552,2.476-13.2-9.9-3.713-4.127-8.252,8.1-3.3,5.08-11.138-5.9-15.265,4-17.328,9.9-8.252,8.664-15.679,1.651-7.838,6.188-8.664,2.476-10.726,8.252-4.537,8.022,7.838,8.022,7.838c-1.054,0-.183-5.364-.183-9.9s.412-5.364,0-9.489-3.713-5.364-5.429-11.965.479-7.013,2.129-11.964S1533.776,591.592,1533.776,591.592Z" transform="translate(-1172.372 -456.678)" fill="#5c078c"/>
                                </g>
                                <g transform="translate(1019.18 301.451)">
                                    <path class="brazil-region" id="norte" data-name="Região Norte" d="M1333.1,752.795a24.757,24.757,0,0,0,10.276-11.455c3.3-7.84,4.539-3.3,6.189-10.728s2.063-10.313-.414-16.914-3.711-10.315-1.237-14.028,7.154-4.125-5.911-9.487-17.6-4.127-19.255-3.713-7.427,2.045-7.838-.421-3.3-49.088-3.3-49.088l70.96-3.3s1.651-9.076,3.3-11.14-1.649-11.964,1.651-18.977,4.125-6.19,5.364-4.951,4.537,13.614,9.489,21.039,8.662,16.091,11.964,18.978,8.664,7.427,14.026,8.664,1.239.825,26.405,3.3,127.481,8.25,127.481,8.25-9.9,17.739-9.9,24.754.824,12.377-.414,17.328a51.436,51.436,0,0,0-.825,15.677c.414,4.125-.412,12.377,2.476,9.489s9.076-10.726,8.664-4.127-10.275,6.19.019,12.377,12.358,10.726,15.246,4.951,1.237-12.375,5.362-9.487,3.3,7.013,7.427,9.9,9.489,3.3,11.964,2.474,4.539-2.888,7.838-.412,4.539,2.888,9.078.412a23.731,23.731,0,0,1,12.789-3.3c4.95,0,6.188,1.651,10.726-1.237a60,60,0,0,1,10.315-4.951,76.845,76.845,0,0,0,0-10.315c-.414-4.539-3.759-9.077.183-11.14a4.76,4.76,0,0,0,0-8.664c-3.485-1.649-6.372-.412-4.308-4.951s.577-9.076,7.095-12.377,13.119-6.188,12.707-7.838-10.727-.825-13.615-8.25-6.187-7.839-7.013-13.614-4.951-7.839-6.19-9.489-3.713-4.95-1.237-9.078,18.979-11.138,13.2-18.151-7.838-2.476-12.377-2.888-1.651,2.474-8.252-5.776-9.076-3.311-8.25-12.383,8.25-12.372,6.6-21.447-.825-9.489-5.364-16.5.411-5.776-7.427-7.427-11.552-2.888-11.138-4.539,12.789-7.013,18.153-12.377,12.789-13.2,14.852-19.8,3.713-14.028,7.838-18.153a46.418,46.418,0,0,0,8.664-12.789c1.237-2.888,4.539-11.552,4.539-11.552l1.2-15.664c-3.7-1.653-5.709-3.052-9.756-5.172-6.5-3.4-10.521-5.879-20.113-7.736s-12.377,0-16.4.62-1.857,7.736-1.857,11.449-4.95,3.4-9.543,4.022-4.072,8.044-7.474,9.575-5.261-.294-8.355,0-2.476-5.862-2.166-7.718,6.5-8.664,12.686-13.614,5.259-12.686,5.259-15.782-14.232-2.474-14.232-2.474-18.256-.62-24.754-.62-4.022-4.951-6.807-8.664.928-8.044,1.546-12.995,4.024-11.14,6.807-19.184-5.259-7.118-9.281-7.118-5.261-2.474-7.736-6.5-4.333-8.975-5.879-18.876-4.333-15.471-5.57-23.824-4.641-7.737-6.188-5.881a41.9,41.9,0,0,1-8.355,7.736c-3.713,2.476-8.972,10.52-10.52,14.543s-6.5,10.52-8.355,14.545.311,7.116-7.116,7.425-10.212-1.546-16.4-2.165-10.521,3.713-17.019,3.713-5.26,0-9.282-3.713-2.165-5.259-12.068-3.713-7.116-.309-16.089-.309,0,6.188,0,12.067-11.14,1.857-12.688,3.4-11.138-1.237-11.138-1.237-8.973-1.548-12.377-1.548-5.879,4.642-8.044,7.116-7.735,1.239-7.735,1.239a36.44,36.44,0,0,0-8.355,1.546,26.213,26.213,0,0,0-8.664,5.57c-1.857,1.857-11.758,3.4-18.565,1.237s-5.879-7.425-9.592-13.306-6.5-12.375-6.807-17.945-.928-11.14,0-18.565,3.4-7.427,6.807-17.019-1.548-4.022-6.807-9.283-4.642-.309-6.5-5.879.928-4.022,1.857-8.044-4.642-3.4-7.116-3.4-3.4,4.333-3.713,7.118-2.476,6.5-3.4,7.116-2.474,2.166-7.735,2.166-5.568,2.785-8.973,5.881-6.5,4.331-8.973,4.331-5.57,0-12.068.309-5.879,4.642-5.879,6.19-4.022,7.735-6.188,7.735-5.879-3.094-9.592-6.5-5.879-.62-12.068-1.548-17.017-8.044-20.422-7.736,7.427,8.975,10.829,10.212,2.168,6.807,2.168,12.995,2.474,7.118,7.425,12.068,12.068,5.879,12.068,5.879v6.807c0,2.785-3.4,4.022-6.5,5.261s-5.879,1.237-11.138,3.711.618,8.975,0,12.377-7.427.619-16.4,2.165-9.283,5.57-13.614,12.068-7.427,5.879-7.427.62-1.237-7.736-3.714-4.642-7.427,5.57-10.829,7.427-4.951-.928-8.355-5.57-6.807-4.642-12.377-4.642-4.642-.928-5.839-3.4-.349-4.331-.04-8.973-1.237-5.57-3.094-8.664-2.476-4.331-4.331-4.331-3.4,5.568-5.261,10.21-4.951,3.094-5.26-1.237-6.5-6.188-6.5,0,0,4.642-13.306,3.4-14.234,0-18.565,0-4.022,4.642-2.165,8.975,6.188-2.166,10.829,4.951,2.785,13.305,0,13.305-10.521,1.237-17.636,1.857-1.857,8.664.618,14.232,5.261,2.785,7.735,8.046,9.592,10.21,6.19,21.039-7.427,56.316-8.355,65.908.619,9.9-6.188,12.377-6.807-8.975-10.521-5.881-8.046,1.239-13.305,4.952-7.735,1.237-14.543,4.64-7.736,4.333-14.543,9.283-7.735,5.879-8.974,8.355-1.855,4.951-3.094,11.758-3.713,2.785-4.951,7.736,0,6.807,0,12.377-6.5,5.568-11.138,8.044-1.239,4.951-1.548,10.521-3.714,4.642-2.476,8.664,11.76,18.565,11.76,18.565,8.353,8.973,11.138,14.543,1.237,7.427,3.713,7.118,10.212-4.642,13.615,4.64,7.735,6.189,10.211,6.5,9.9,0,12.067-.928,3.713-1.857,9.592-7.735,7.736-2.785,7.427-.309,1.857,11.758,1.546,23.824,7.118,9.9,11.14,6.807,4.951-.617,12.686-1.546,12.377.928,20.113,2.165,8.044-.928,8.973-5.879,3.4-5.259,9.592-4.951,4.642-2.476,11.14-7.116,9.281-7.735,13.614-10.212,16.708-3.094,29.7-5.879,5.259,6.5,6.5,10.21-.928,7.118-1.237,11.14,2.785,5.57,3.094,8.044,0,4.642,0,7.735,2.785,5.57,5.261,11.449,4.331,2.476,10.829,10.52,4.642,3.713,12.995,3.713,4.022-.309,9.592,0,3.714,2.165,8.664,4.642,4.642.309,6.5.309,5.57,5.261,8.044,8.044,9.9.619,12.686.928,2.476,3.1,5.881,8.046,5.259,1.857,10.518,1.857,7.118,1.857,12.688,4.022c1.207.469,2.181.837,3.006,1.149Z" transform="translate(-1018.728 -300.997)"                                     <path class="b" id="norte" data-name="" d="M1333.1,752.795a24.757,24.757,0,0,0,10.276-11.455c3.3-7.84,4.539-3.3,6.189-10.728s2.063-10.313-.414-16.914-3.711-10.315-1.237-14.028,7.154-4.125-5.911-9.487-17.6-4.127-19.255-3.713-7.427,2.045-7.838-.421-3.3-49.088-3.3-49.088l70.96-3.3s1.651-9.076,3.3-11.14-1.649-11.964,1.651-18.977,4.125-6.19,5.364-4.951,4.537,13.614,9.489,21.039,8.662,16.091,11.964,18.978,8.664,7.427,14.026,8.664,1.239.825,26.405,3.3,127.481,8.25,127.481,8.25-9.9,17.739-9.9,24.754.824,12.377-.414,17.328a51.436,51.436,0,0,0-.825,15.677c.414,4.125-.412,12.377,2.476,9.489s9.076-10.726,8.664-4.127-10.275,6.19.019,12.377,12.358,10.726,15.246,4.951,1.237-12.375,5.362-9.487,3.3,7.013,7.427,9.9,9.489,3.3,11.964,2.474,4.539-2.888,7.838-.412,4.539,2.888,9.078.412a23.731,23.731,0,0,1,12.789-3.3c4.95,0,6.188,1.651,10.726-1.237a60,60,0,0,1,10.315-4.951,76.845,76.845,0,0,0,0-10.315c-.414-4.539-3.759-9.077.183-11.14a4.76,4.76,0,0,0,0-8.664c-3.485-1.649-6.372-.412-4.308-4.951s.577-9.076,7.095-12.377,13.119-6.188,12.707-7.838-10.727-.825-13.615-8.25-6.187-7.839-7.013-13.614-4.951-7.839-6.19-9.489-3.713-4.95-1.237-9.078,18.979-11.138,13.2-18.151-7.838-2.476-12.377-2.888-1.651,2.474-8.252-5.776-9.076-3.311-8.25-12.383,8.25-12.372,6.6-21.447-.825-9.489-5.364-16.5.411-5.776-7.427-7.427-11.552-2.888-11.138-4.539,12.789-7.013,18.153-12.377,12.789-13.2,14.852-19.8,3.713-14.028,7.838-18.153a46.418,46.418,0,0,0,8.664-12.789c1.237-2.888,4.539-11.552,4.539-11.552l1.2-15.664c-3.7-1.653-5.709-3.052-9.756-5.172-6.5-3.4-10.521-5.879-20.113-7.736s-12.377,0-16.4.62-1.857,7.736-1.857,11.449-4.95,3.4-9.543,4.022-4.072,8.044-7.474,9.575-5.261-.294-8.355,0-2.476-5.862-2.166-7.718,6.5-8.664,12.686-13.614,5.259-12.686,5.259-15.782-14.232-2.474-14.232-2.474-18.256-.62-24.754-.62-4.022-4.951-6.807-8.664.928-8.044,1.546-12.995,4.024-11.14,6.807-19.184-5.259-7.118-9.281-7.118-5.261-2.474-7.736-6.5-4.333-8.975-5.879-18.876-4.333-15.471-5.57-23.824-4.641-7.737-6.188-5.881a41.9,41.9,0,0,1-8.355,7.736c-3.713,2.476-8.972,10.52-10.52,14.543s-6.5,10.52-8.355,14.545.311,7.116-7.116,7.425-10.212-1.546-16.4-2.165-10.521,3.713-17.019,3.713-5.26,0-9.282-3.713-2.165-5.259-12.068-3.713-7.116-.309-16.089-.309,0,6.188,0,12.067-11.14,1.857-12.688,3.4-11.138-1.237-11.138-1.237-8.973-1.548-12.377-1.548-5.879,4.642-8.044,7.116-7.735,1.239-7.735,1.239a36.44,36.44,0,0,0-8.355,1.546,26.213,26.213,0,0,0-8.664,5.57c-1.857,1.857-11.758,3.4-18.565,1.237s-5.879-7.425-9.592-13.306-6.5-12.375-6.807-17.945-.928-11.14,0-18.565,3.4-7.427,6.807-17.019-1.548-4.022-6.807-9.283-4.642-.309-6.5-5.879.928-4.022,1.857-8.044-4.642-3.4-7.116-3.4-3.4,4.333-3.713,7.118-2.476,6.5-3.4,7.116-2.474,2.166-7.735,2.166-5.568,2.785-8.973,5.881-6.5,4.331-8.973,4.331-5.57,0-12.068.309-5.879,4.642-5.879,6.19-4.022,7.735-6.188,7.735-5.879-3.094-9.592-6.5-5.879-.62-12.068-1.548-17.017-8.044-20.422-7.736,7.427,8.975,10.829,10.212,2.168,6.807,2.168,12.995,2.474,7.118,7.425,12.068,12.068,5.879,12.068,5.879v6.807c0,2.785-3.4,4.022-6.5,5.261s-5.879,1.237-11.138,3.711.618,8.975,0,12.377-7.427.619-16.4,2.165-9.283,5.57-13.614,12.068-7.427,5.879-7.427.62-1.237-7.736-3.714-4.642-7.427,5.57-10.829,7.427-4.951-.928-8.355-5.57-6.807-4.642-12.377-4.642-4.642-.928-5.839-3.4-.349-4.331-.04-8.973-1.237-5.57-3.094-8.664-2.476-4.331-4.331-4.331-3.4,5.568-5.261,10.21-4.951,3.094-5.26-1.237-6.5-6.188-6.5,0,0,4.642-13.306,3.4-14.234,0-18.565,0-4.022,4.642-2.165,8.975,6.188-2.166,10.829,4.951,2.785,13.305,0,13.305-10.521,1.237-17.636,1.857-1.857,8.664.618,14.232,5.261,2.785,7.735,8.046,9.592,10.21,6.19,21.039-7.427,56.316-8.355,65.908.619,9.9-6.188,12.377-6.807-8.975-10.521-5.881-8.046,1.239-13.305,4.952-7.735,1.237-14.543,4.64-7.736,4.333-14.543,9.283-7.735,5.879-8.974,8.355-1.855,4.951-3.094,11.758-3.713,2.785-4.951,7.736,0,6.807,0,12.377-6.5,5.568-11.138,8.044-1.239,4.951-1.548,10.521-3.714,4.642-2.476,8.664,11.76,18.565,11.76,18.565,8.353,8.973,11.138,14.543,1.237,7.427,3.713,7.118,10.212-4.642,13.615,4.64,7.735,6.189,10.211,6.5,9.9,0,12.067-.928,3.713-1.857,9.592-7.735,7.736-2.785,7.427-.309,1.857,11.758,1.546,23.824,7.118,9.9,11.14,6.807,4.951-.617,12.686-1.546,12.377.928,20.113,2.165,8.044-.928,8.973-5.879,3.4-5.259,9.592-4.951,4.642-2.476,11.14-7.116,9.281-7.735,13.614-10.212,16.708-3.094,29.7-5.879,5.259,6.5,6.5,10.21-.928,7.118-1.237,11.14,2.785,5.57,3.094,8.044,0,4.642,0,7.735,2.785,5.57,5.261,11.449,4.331,2.476,10.829,10.52,4.642,3.713,12.995,3.713,4.022-.309,9.592,0,3.714,2.165,8.664,4.642,4.642.309,6.5.309,5.57,5.261,8.044,8.044,9.9.619,12.686.928,2.476,3.1,5.881,8.046,5.259,1.857,10.518,1.857,7.118,1.857,12.688,4.022c1.207.469,2.181.837,3.006,1.149Z" transform="translate(-1018.728 -300.997)" fill="#5c078c"/>
                                    />
                                </g>
                                <g id="Grupo_7334" data-name="Grupo 7334" transform="translate(1417.796 961.276)">
                                    <path class="brazil-region" id="sul" data-name="Região Sul" d="M1295.238,687.153c.639,3.014-.1,8.824-.374,15.576-.309,7.736-4.951,16.091-2.04,17.328s7.92,1.548,10.7,5.879,5.57,13.306,5.57,21.66,0,11.138-3.094,14.852-3.713,5.261-13.923,8.664-20.733,17.639-30.942,24.135-13.305,12.377-15.782,19.184-12.686,13.306-16.4,18.256,2.476,2.166,8.973-1.548,5.261.619,9.283,4.333,8.973,6.188,9.592,14.851,5.57,3.713,6.807-.928,4.951-1.237,8.664-.309,3.4,4.022,7.427,9.283,10.21,1.237,13.121,7.735,8.229,7.116,10.395,9.592,4.333,4.331,4.641,8.973,4.642,3.713,7.116,6.807,4.022,2.785,1.857,8.044-4.022,4.951-5.57,13.614,3.4,2.785,7.427,0,8.355-13.923,13.305-25.372,5.57-6.807,16.708-16.091,13.305-9.281,19.8-17.017,8.044-9.283,9.9-16.71,5.57-12.686,10.212-21.659,7.116-9.283,13.3-13.306,6.807-8.664,9.283-14.543,5.259-7.736,6.807-11.449-1.857-3.713-3.4-7.425-.309-8.046-.309-15.782,3.094-19.184,3.094-26.3.311-4.331,8.664-11.138c.585-.478,1.111-.9,1.586-1.283l.284-.225a5.491,5.491,0,0,1-5.067-5.4c0-2.063-4.95-4.537-8.252-4.537s-9.076.825-8.664-2.476-4.125-10.315-7.013-19.8-2.063-9.9-5.446-16.5-4.044-5.774-10.231-6.188-10.315-1.651-20.216-4.539-13.2-6.6-22.69-4.951-13.2-3.3-13.2-3.3c-8.252,4.539-11.965,5.776-16.493,12.377s-6.2,6.6-8.673,12.375-6.744,15.263-6.744,15.263Z" transform="translate(-1227.839 -647.137)" fill="#5c078c"/>
                                </g>
                                <g id="Grupo_7335" data-name="Grupo 7335" transform="translate(1517.104 770.207)">
                                    <path class="brazil-region" id="sudeste" data-name="Região Sudeste" d="M1380.717,805.672a5.491,5.491,0,0,1-5.067-5.4c0-2.063-4.95-4.537-8.252-4.537s-9.076.825-8.664-2.476-4.125-10.315-7.013-19.8-2.063-9.9-5.446-16.5-4.044-5.774-10.231-6.188-10.315-1.651-20.216-4.539-13.2-6.6-22.69-4.951-13.2-3.3-13.2-3.3c8.25-4.539,9.9,1.237,14.44-11.14s8.25-8.664,12.377-21.865,7.838-14.028,13.2-15.679,5.364-2.888,4.127-9.9-1.651-10.315,2.474-14.44,7.427-4.125,8.252-6.6,1.237-6.6,8.664-6.6,16.089-1.2,18.977-3.488,3.3-4.352,12.791-4.352,10.313-2.888,15.677,0,12.789-3.3,14.852-4.951,4.95-11.552,2.476-13.2-9.9-3.714-4.127-8.252,8.1-3.3,5.08-11.138-5.9-15.265,4-17.328,9.9-8.252,8.664-15.679,1.651-7.838,6.188-8.664,2.476-10.726,8.252-4.537,8.022,7.839,8.022,7.839l.343-.053c2.062-.473,10.985-4.06,15.976-9.436,5.364-5.776,15.677-9.9,19.39-11.14s9.9,0,11.552,3.713-.825,9.078,2.888,9.489,7.839-1.237,11.14-2.888,4.537,1.237,7.838,4.539,4.125,9.489,12.377,9.489,6.188-6.6,13.2,0,10.726,10.313,11.552,13.2,4.95,4.127,10.315,3.713,9.489.414,13.614,3.713,7.013.412,5.364,5.364-8.664,8.25-8.664,13.2-.414,4.539-3.3,6.6-5.362,4.125-4.125,9.489,5.776,10.726,7.013,14.44,11.268,6.826,11.268,6.826l.088-.3c-2.046,7.3-7.156,17.934-4.96,23.7,2.474,6.5-2.476,6.5-6.807,12.686s-7.427,5.879-10.212,13-5.879,9.282-8.355,13.614-9.9,2.474-8.044,10.21.309,14.234-.62,16.091-5.259,1.548-9.9,4.022-12.377-.309-12.995,5.879,4.642,10.212-1.548,9.9-7.735-3.713-20.422-1.548-17.328-.894-24.755,1.563-15.78,2.15-18.873,5.864a33.364,33.364,0,0,1-16.708,10.829c-8.046,2.165-13,.928-22.589,7.427s-13.923,12.375-22.9,17.637c-8.344,4.891-5.717,2.023-12.028,7.072Z" transform="translate(-1279.936 -546.904)" fill="#5c078c"/>
                                </g>
                                <g id="Grupo_7336" data-name="Grupo 7336" transform="translate(1628.052 457.964)">
                                    <path class="brazil-region" id="nordeste" data-name="Região Nordeste" d="M1529.314,796.7s-10.03-3.113-11.268-6.826-5.775-9.078-7.013-14.44,1.237-7.427,4.125-9.489,3.3-1.651,3.3-6.6,7.013-8.25,8.664-13.2-1.239-2.064-5.365-5.364-8.252-4.125-13.614-3.713-9.489-.825-10.315-3.713-4.539-6.6-11.552-13.2-4.951,0-13.2,0-9.077-6.19-12.377-9.489-4.539-6.19-7.838-4.539-7.427,3.3-11.14,2.888-1.237-5.776-2.888-9.489-7.839-4.95-11.552-3.713-14.026,5.364-19.39,11.14c-4.99,5.376-13.914,8.963-15.976,9.436a1.825,1.825,0,0,1-.343.053c-1.054,0-.183-5.364-.183-9.9s.412-5.364,0-9.489-3.714-5.364-5.429-11.965.478-7.013,2.129-11.964-4.539-14.852-4.539-14.852a76.869,76.869,0,0,0,0-10.315c-.414-4.539-3.759-9.077.183-11.14a4.76,4.76,0,0,0,0-8.664c-3.485-1.649-6.373-.412-4.308-4.951s.577-9.076,7.095-12.377,13.119-6.188,12.707-7.838-10.726-.825-13.615-8.25-6.187-7.839-7.013-13.614-4.951-7.839-6.19-9.489-3.714-4.95-1.237-9.077,18.979-11.138,13.2-18.151-7.839-2.476-12.377-2.888-1.651,2.474-8.252-5.776-9.076-3.311-8.25-12.383,8.25-12.371,6.6-21.447-.825-9.489-5.364-16.5.412-5.776-7.427-7.427-11.552-2.888-11.138-4.539,12.789-7.013,18.153-12.377,12.789-13.2,14.851-19.8,3.714-14.028,7.839-18.153a46.424,46.424,0,0,0,8.664-12.789c1.237-2.888,4.539-11.552,4.539-11.552l1.2-15.664a95.675,95.675,0,0,0,9.428,3.492c11.449,3.713,10.521,6.807,16.708,7.427s8.664.62,9.283,10.521.928,14.852,0,19.493,5.568.309,12.686-2.476,5.879-5.879,17.945-5.879,10.831,2.785,22.589,5.261,16.089,5.259,26.609,5.259,20.113-.309,24.135,0,6.189,0,17.019,6.807,13.614,11.758,20.422,17.638,10.52,10.829,18.875,17.017a167.042,167.042,0,0,0,21.35,13.306c2.166.928,7.116,7.427,17.017,7.427s11.76-7.427,17.638,3.4,8.973,28.777,8.973,28.777,3.713,23.515,1.857,35.273-3.094,17.019-7.736,23.826-8.355,9.592-13.306,15.78-9.592,8.975-13.614,14.234-7.116,6.19-12.066,8.664-14.545,3.094-17.328,13.614-8.355,15.782-12.068,22.9-6.188,8.973-7.736,12.068-5.57-.311-8.044-3.1-8.664-.639-8.975,4.321-4.951,8.056-5.568,12.078a127.336,127.336,0,0,0-1.548,24.135c.309,12.068-2.785,16.4-2.474,22.9s1.237,5.57,1.855,12.995-5.259,16.091-5.259,22.28-2.476,12.686-3.094,19.182-7.735,4.952-8.974,12.068c-.139.8-.349,1.676-.608,2.6Z" transform="translate(-1338.139 -383.103)" fill="#5c078c"/>
                                </g>
                                <g id="Grupo_7337" data-name="Grupo 7337" transform="translate(1311.049 597.262)">
                                    <path id="Caminho_17373" data-name="Caminho 17373" d="M1345.726,865.936l-.686-5.612a3.632,3.632,0,0,0-.28-.82,10.705,10.705,0,0,1-.637-1.74c-.593-1.99-1.025-3.414-6.167-3-6.622.553-8.511,1.108-10.341,1.643l-.616.179a8.41,8.41,0,0,0-.8.3c-1.192.48-2.825,1.14-4.447.191-1.855-1.081-3.029-3.946-3.7-9.015-.463-3.53-.652-6.529-.818-9.175-.387-6.188-.642-10.275-3.959-14.834-4.89-6.723-4.945-6.723-7.892-6.723-3.511,0-7.143,0-8.622-3.694l-.124-.313c-.3-.751-.637-1.6-.864-1.68-.6-.2-3.29,1.439-4.438,2.145-5.8,3.542-8.811,3.591-14.381,1.956a22.079,22.079,0,0,0-6.094-.684c-2.48-.031-4.825-.059-5.1-2.28-.069-.549-.185-1.222-.322-2.024a72.948,72.948,0,0,1-1.233-13.252c0-5.328-1.378-9.672-2.714-13.87-.555-1.75-1.129-3.557-1.588-5.395-1.519-6.071,2.569-8.483,5.856-10.421.467-.276.928-.547,1.363-.823.16-.1.642-.408.505-1.62-.372-3.281-4.327-8.1-5.246-8.43-.438-.147-1.025-.341-1.062-1.024a1.039,1.039,0,0,1,.726-1.022c2.04-.923,3.469-4.4,4.02-9.787.46-4.472,1.083-7.947,1.632-11.014.934-5.219,1.611-8.992.85-14.119-.476-3.216-.593-4.971-.669-6.13-.122-1.851-.152-2.289-1.436-5.406-2.15-5.223-4.19-8.05-7.036-9.756-.7-.423-2.343-.454-3.927-.482-2.9-.054-6.2-.113-7.823-2.3-1.039-1.4-1.182-3.37-.435-6.028.286-1.014.576-2.013.862-2.993,1.664-5.713,3.237-11.11,1.643-13.235-.568-.759-1.594-1.127-3.134-1.127-4.392,0-6.643-.1-9.762-.242-2.421-.109-5.4-.242-10.376-.378a48.621,48.621,0,0,0-10.44.776c-2.554.44-4.241.73-4.99-1.765-.288-.961-.606-2.964-1.01-5.5-.665-4.179-2.221-13.965-3.725-14.632a4.891,4.891,0,0,0-1.068-.334c-1.578-.334-1.477-1.23-1.258-3.191.135-1.214.341-3.05.524-6.068.45-7.4-.6-10.648-1.534-13.519a31.8,31.8,0,0,1-.921-3.242,17.328,17.328,0,0,1-.332-3.9c0-2.072,0-3.111-2.049-4.478a24.049,24.049,0,0,0-5.623-2.977l-1.085-.417.679-1.781.637.244a24.078,24.078,0,0,0,9.478-10.774c1.67-3.967,2.886-4.975,3.862-5.784.861-.713,1.483-1.228,2.272-4.781,1.632-7.335,2.032-9.962-.373-16.373-2.543-6.786-3.851-10.824-1.138-14.892a14.8,14.8,0,0,1,1.624-1.952c.57-.606,1.159-1.233,1.09-1.554-.191-.881-2.947-2.419-8.2-4.573-12.625-5.183-16.969-4.093-18.6-3.685l-.372.093c-3.025.776-6.05,1.346-7.674.286a2.253,2.253,0,0,1-1.022-1.554c-.416-2.486-3.193-47.279-3.311-49.185l-.061-.966,71.175-3.309c.454-2.341,1.838-8.921,3.353-10.818.44-.549.273-2.936.126-5.04-.276-3.954-.654-9.367,1.407-13.748,2.356-5.008,3.477-6.1,4.615-6.3a2.6,2.6,0,0,1,2.284,1.081c.585.585,1.174,2.125,2.45,5.553,1.639,4.409,4.119,11.073,7.158,15.633,2.03,3.044,3.879,6.342,5.511,9.249,2.388,4.257,4.451,7.932,6.288,9.541,2.675,2.341,8.241,7.211,13.615,8.452.755.173,1.325.316,1.813.438,2.886.721,2.886.721,23.786,2.775l.682.067c24.859,2.446,126.42,8.191,127.443,8.248l1.521.086-.743,1.331c-.1.175-9.781,17.6-9.781,24.289,0,2.11.077,4.072.147,5.915.166,4.325.311,8.06-.585,11.643a50.554,50.554,0,0,0-.8,15.351c.109,1.075.134,2.362.16,3.725.034,1.727.089,4.514.462,5.395a2.371,2.371,0,0,0,.232-.21c.456-.456.995-1.035,1.577-1.662,3.36-3.62,5.688-5.938,7.472-5.175,1.27.547,1.317,2.228,1.241,3.446-.181,2.888-1.952,4.613-3.246,5.875-.786.766-1.462,1.428-1.4,1.956.065.558.846,1.649,4.207,3.667,2.92,1.758,5.173,3.372,6.985,4.67,2.44,1.75,4.209,3.018,5.164,2.777.537-.133,1.109-.822,1.752-2.1a23.082,23.082,0,0,0,1.817-6.17c.427-2.251.734-3.879,2.024-4.405a3.214,3.214,0,0,1,2.923.732,11.88,11.88,0,0,1,4.028,5.326,10.168,10.168,0,0,0,3.4,4.575c3.828,2.678,8.91,3.082,11.115,2.352a15.242,15.242,0,0,0,1.485-.62c1.87-.858,4.2-1.925,7.227.349,2.96,2.217,3.816,2.648,8.05.337a24.71,24.71,0,0,1,13.245-3.416,27.535,27.535,0,0,1,3.767.286,7.659,7.659,0,0,0,6.447-1.374,60.2,60.2,0,0,1,10.507-5.044l.722-.257.406.65c.261.419,6.405,10.341,4.634,15.658a25.833,25.833,0,0,1-1.495,3.5c-1.093,2.213-1.754,3.549-.616,7.92a20.487,20.487,0,0,0,3.185,6.792,11.141,11.141,0,0,1,2.269,5.318,32.527,32.527,0,0,1,.114,5.711c-.051,1.018-.109,2.185-.109,3.874,0,1.569-.1,3.246-.193,4.726a27.38,27.38,0,0,0-.08,4.356l.067.051,2.32,1.719-2.884,0a1.238,1.238,0,0,1-.911-.4,1.591,1.591,0,0,1-.141-.177,92.368,92.368,0,0,1-7.665-7.566c-1.668-1.786-2.261-1.727-2.309-1.718-.332.065-.777,1.222-1.071,1.988-.665,1.736-1.58,4.114-4,4.554l-.194.036c-4.451.806-6.292,1.14-5.227,7.534,1.207,7.242,1.474,14.5-9.411,16.767-2.827.589-4.617,1.636-5.467,3.2-1.628,2.989.2,7.747,2.141,12.787,2.539,6.6,1.5,7.663-2.145,10.042-.927.6-1.979,1.287-3.21,2.257-.858.675-1.863,1.656-1.778,2.512.12,1.2,2.343,2.335,3.965,3.161a20.02,20.02,0,0,1,1.879,1.037,3.838,3.838,0,0,1,1.369,3.231c.164,3.753-1.883,9.991-3.776,11.508l-.2.162c-2.457,1.975-9.941,7.987-15.7,4.884-2.871-1.55-4.2-1.285-6.855-.76a39.018,39.018,0,0,1-8.37.873c-7.566,0-8.955,1.26-10.877,3-.406.37-.829.751-1.321,1.14-3.2,2.539-12.391,3.694-19.57,3.694-5.984,0-6.8,2.733-7.513,5.145-.083.28-.164.553-.248.806-.541,1.62-1.828,2.356-3.454,3.284a21.627,21.627,0,0,0-5.027,3.688c-3.769,3.767-3.427,6.712-2.211,13.6,1.262,7.146,1.338,9.093-4.783,10.976l-.408.126c-5,1.529-8.294,2.539-12.166,14.926-2.207,7.066-4.376,9.506-6.477,11.868a26.575,26.575,0,0,0-5.915,10.04c-3.038,8.29-4.948,8.956-8.639,9.573a17.417,17.417,0,0,0-6.235,2.074c-1.252.688-2.4,1.3-3.462,1.868-5.988,3.2-8.992,4.8-12.707,10.214a60.327,60.327,0,0,1-4.384,5.658,21.286,21.286,0,0,0-4.2,6.554c-2.436,5.686-6.477,16.773-6.52,16.885Zm-6.228-13.147c4.71,0,5.728,2.011,6.453,4.43a10,10,0,0,0,.458,1.315c1.388-3.74,3.782-10.088,5.443-13.965a23.12,23.12,0,0,1,4.5-7.042,58.159,58.159,0,0,0,4.26-5.5c3.977-5.793,7.316-7.579,13.38-10.816,1.054-.564,2.2-1.172,3.439-1.859a19.351,19.351,0,0,1,6.84-2.282c3-.5,4.373-.734,7.166-8.349a28.189,28.189,0,0,1,6.281-10.65c2.055-2.314,4-4.5,6.081-11.173,4.171-13.346,8.054-14.533,13.427-16.178l.406-.124c4.655-1.433,4.672-1.986,3.468-8.826-1.272-7.2-1.685-10.856,2.739-15.279a23.56,23.56,0,0,1,5.429-4c1.54-.881,2.3-1.342,2.591-2.234.078-.234.152-.484.231-.743.768-2.592,1.933-6.51,9.339-6.51,8.254,0,15.986-1.38,18.386-3.281.456-.362.846-.717,1.224-1.06,2.07-1.876,3.856-3.5,12.158-3.5a37.046,37.046,0,0,0,8-.835c2.8-.555,4.649-.921,8.13.949,4.642,2.5,11.384-2.911,13.6-4.691l.206-.164c1.182-.945,3.216-6.422,3.063-9.937-.057-1.317-.413-1.655-.52-1.727a18.218,18.218,0,0,0-1.687-.924c-2.129-1.081-4.779-2.428-5-4.674-.137-1.4.678-2.768,2.5-4.2,1.3-1.02,2.436-1.761,3.347-2.354,3.111-2.028,3.511-2.289,1.432-7.692-2.127-5.53-4.112-10.688-2.06-14.453,1.136-2.082,3.344-3.441,6.754-4.15,9.266-1.929,9.1-7.5,7.918-14.589-1.376-8.246,2.4-8.931,6.765-9.722l.192-.036c1.273-.231,1.866-1.538,2.568-3.362.549-1.43,1.117-2.909,2.484-3.176,1.148-.223,2.385.486,4.066,2.288,2.674,2.865,4.588,4.75,5.86,5.94.021-.751.072-1.655.141-2.743.088-1.451.189-3.1.189-4.607,0-1.729.059-2.924.11-3.967a30.585,30.585,0,0,0-.1-5.429,9.435,9.435,0,0,0-1.964-4.455,22.481,22.481,0,0,1-3.443-7.364c-1.313-5.059-.446-6.815.755-9.245a24.05,24.05,0,0,0,1.394-3.26c1.145-3.435-2.223-10.282-4.039-13.38a57.685,57.685,0,0,0-9.4,4.583,9.517,9.517,0,0,1-7.714,1.658,25.926,25.926,0,0,0-3.523-.271,22.731,22.731,0,0,0-12.334,3.183c-4.792,2.617-6.458,2.247-10.1-.486-2.124-1.594-3.45-.984-5.288-.141a17.21,17.21,0,0,1-1.677.7c-2.562.852-8.226.612-12.812-2.6a11.873,11.873,0,0,1-4.028-5.326,10.187,10.187,0,0,0-3.4-4.577c-.825-.578-1.1-.526-1.112-.526-.335.181-.656,1.872-.867,2.993a24.74,24.74,0,0,1-1.984,6.668c-.932,1.862-1.857,2.819-3,3.1-1.815.452-3.664-.877-6.733-3.077-1.782-1.277-4-2.869-6.855-4.584-3.458-2.08-4.941-3.551-5.118-5.084-.17-1.456.867-2.469,1.963-3.54,1.19-1.161,2.539-2.474,2.675-4.63.082-1.315-.151-1.613-.152-1.615h0c-.837,0-3.933,3.334-5.257,4.76-.6.646-1.157,1.245-1.626,1.714a2.074,2.074,0,0,1-2.272.77c-1.472-.593-1.59-3.021-1.674-7.265-.027-1.325-.052-2.573-.151-3.572a52.038,52.038,0,0,1,.849-16c.831-3.321.692-6.929.53-11.108-.07-1.868-.147-3.852-.147-5.989,0-6.117,6.975-19.579,9.295-23.887-12.779-.728-102.782-5.885-126.014-8.17l-.684-.067c-21.039-2.07-21.039-2.07-24.061-2.823-.48-.12-1.039-.259-1.78-.431-5.839-1.348-11.649-6.432-14.44-8.873-2.085-1.824-4.222-5.633-6.7-10.044-1.615-2.876-3.444-6.14-5.435-9.123-3.162-4.745-5.688-11.533-7.36-16.026a34.715,34.715,0,0,0-2.013-4.874,3,3,0,0,0-.64-.549c-.162.048-.986.566-3.182,5.235-1.851,3.932-1.506,8.851-1.23,12.8.212,3.039.366,5.233-.539,6.365-1.092,1.365-2.486,7.3-3.107,10.713l-.135.747-70.752,3.29c1.016,16.348,2.917,46.148,3.229,48.022a.355.355,0,0,0,.183.271c.763.5,2.837.316,6.161-.534l.324-.082c1.859-.469,6.641-1.666,19.848,3.755,7.388,3.033,9.019,4.472,9.335,5.934.28,1.3-.616,2.251-1.567,3.262a13.042,13.042,0,0,0-1.426,1.7c-2.205,3.307-1.121,6.605,1.338,13.163,2.613,6.971,2.063,10.2.45,17.457-.869,3.908-1.681,4.813-2.918,5.835-.86.713-1.834,1.519-3.321,5.055A25.612,25.612,0,0,1,1196.433,612a27.458,27.458,0,0,1,4.28,2.463c2.9,1.931,2.9,3.847,2.9,6.062a15.725,15.725,0,0,0,.29,3.5,30.244,30.244,0,0,0,.871,3.054c.98,3.031,2.093,6.466,1.622,14.222-.185,3.065-.4,5.006-.534,6.163-.05.452-.1.864-.116,1.142a6.486,6.486,0,0,1,1.325.429c2.081.926,3.216,5.921,4.83,16.075.377,2.37.7,4.415.955,5.254s.259.877,2.842.433a50.364,50.364,0,0,1,10.814-.8c4.989.135,7.982.271,10.412.379,3.09.139,5.324.24,9.674.24,2.15,0,3.719.637,4.659,1.889,2.165,2.886.543,8.46-1.338,14.912-.284.974-.574,1.967-.856,2.976-.568,2.022-.526,3.492.128,4.373,1.069,1.437,3.864,1.487,6.329,1.534,2,.034,3.732.067,4.874.751,3.187,1.912,5.526,5.1,7.817,10.665,1.35,3.281,1.433,3.9,1.575,6,.078,1.2.187,2.84.652,5.978.806,5.438.073,9.541-.86,14.735-.543,3.033-1.159,6.474-1.609,10.873-.542,5.269-1.849,8.8-3.892,10.538,2.116,1.78,5.061,6.157,5.442,9.253a3.308,3.308,0,0,1-1.369,3.5c-.452.29-.932.572-1.418.86-3.162,1.864-6.149,3.626-4.975,8.317.444,1.779.985,3.479,1.557,5.278,1.378,4.339,2.8,8.822,2.8,14.447a71.494,71.494,0,0,0,1.2,12.93c.143.835.263,1.538.336,2.11.067.532,1.266.585,3.235.61a23.667,23.667,0,0,1,6.609.763c5.133,1.512,7.577,1.464,12.848-1.756,3.237-1.977,4.8-2.737,6.035-2.326,1.065.357,1.472,1.376,2.032,2.785l.122.309c.949,2.373,3.223,2.5,6.851,2.5,3.973,0,4.6.854,9.434,7.509,3.643,5.008,3.927,9.55,4.32,15.837.164,2.615.351,5.58.806,9.043.707,5.376,1.895,7.112,2.766,7.619.757.44,1.624.151,2.772-.315.356-.143.69-.274.989-.36l.6-.175c1.922-.564,3.906-1.147,10.721-1.716Q1338.719,852.787,1339.5,852.788ZM1433.735,585.1Z" transform="translate(-1171.841 -456.178)" fill="#dfa9fe"/>
                                </g>
                                <g id="Grupo_7338" data-name="Grupo 7338" transform="translate(1018.23 300.497)">
                                    <path id="Caminho_17374" data-name="Caminho 17374" d="M1333.61,754.293l-1.971-.755c-.711-.269-1.529-.58-2.493-.957-1.647-.641-2.976-1.254-4.146-1.8-2.814-1.3-4.674-2.16-8.2-2.16a16.343,16.343,0,0,0-3.91.551c-2.52.591-4.7,1.1-7.394-2.821a33.3,33.3,0,0,1-2.739-4.859c-.966-2.011-1.325-2.653-2.461-2.779a19.633,19.633,0,0,0-3.418.2c-3.492.375-7.838.844-9.874-1.445-.612-.688-1.3-1.525-2.013-2.4-1.527-1.862-4.367-5.33-5.32-5.33a1.577,1.577,0,0,0-.85.3c-1.243.7-2.484,1.092-6.075-.705a12.7,12.7,0,0,1-3.894-2.857c-.953-.982-1.479-1.523-4.4-1.685a27.259,27.259,0,0,0-3.767-.109c-.682.042-1.822.111-5.772.111a17.513,17.513,0,0,0-5.332.776c-3.052.873-4.032.572-8.4-4.844-3.116-3.86-5.061-4.95-6.624-5.825-1.66-.932-2.972-1.668-4.344-4.924a46.429,46.429,0,0,0-3.016-5.826c-1.294-2.206-2.318-3.948-2.318-5.991,0-1.111.04-2.1.076-3.033a27.24,27.24,0,0,0-.069-4.586,5.817,5.817,0,0,0-1.163-2.337,8.615,8.615,0,0,1-1.935-5.9,24.56,24.56,0,0,1,.858-4.392c.6-2.3,1.119-4.291.425-6.372-.461-1.384,0-3.1.488-4.91.474-1.758,1.012-3.752.258-4.544-.427-.45-1.788-1.06-6.14-.126-5.276,1.13-10.446,1.9-15.008,2.589-6.436.966-12,1.8-14.423,3.185a47.98,47.98,0,0,0-6.617,4.815c-1.891,1.54-4.033,3.284-6.917,5.343a24.417,24.417,0,0,0-4.632,4.279c-1.695,1.944-2.794,3.241-7.108,3.014-6.182-.307-7.835.061-8.608,4.175-1.024,5.469-1.864,7.955-10.059,6.645-2.086-.334-3.948-.711-5.707-1.069-4.821-.98-8.63-1.754-14.143-1.092a29.757,29.757,0,0,1-6.943.049c-2.19-.2-3.187-.3-5.274,1.308-2.524,1.939-6.237,3.5-9.076,2.053-2.518-1.279-3.729-4.524-3.6-9.64a121.658,121.658,0,0,0-1.119-18.353,29.832,29.832,0,0,1-.42-5.566c.094-.753-.084-1.647-.6-1.9-.721-.354-2.459.255-5.2,3-5.864,5.862-7.516,6.92-9.892,7.937-2.4,1.028-10.086,1.312-12.56,1a6.692,6.692,0,0,0-1.483.1c-2.6.353-6.534.886-9.5-7.215-2.528-6.895-7.516-5.431-10.812-4.466a12.651,12.651,0,0,1-1.79.442c-2.244.286-2.564-1.1-2.9-2.556a20.471,20.471,0,0,0-1.788-5.08c-2.692-5.385-10.9-14.232-10.984-14.32-.509-.69-10.7-14.81-11.971-18.935a4.358,4.358,0,0,1,.86-4.676,6.731,6.731,0,0,0,1.575-4.321,15.9,15.9,0,0,0-.524-4.627c-.547-2.438-1.066-4.741,2.573-6.681a29.828,29.828,0,0,1,4.373-1.763c3.883-1.327,6.262-2.3,6.262-5.442a42.041,42.041,0,0,0-.313-4.882,19.161,19.161,0,0,1,.341-7.724c.622-2.49,1.611-3.141,2.743-3.681.864-.414,1.609-.77,2.194-4,1.214-6.67,1.843-9.341,3.18-12.013,1.353-2.707,2.48-3.765,9.266-8.7l2.459-1.8a65.2,65.2,0,0,1,12.217-7.568,21.594,21.594,0,0,1,7.871-2.261,12.249,12.249,0,0,0,6.548-2.307,17.527,17.527,0,0,1,7.839-2.905c2.044-.358,3.809-.667,5.406-2a2.659,2.659,0,0,1,2.175-.724c1.312.227,2.118,1.592,2.974,3.037,1.605,2.714,2.867,4.421,5.658,3.4,4.922-1.79,4.927-1.887,5.227-6.992.073-1.243.16-2.743.338-4.581l.351-3.7c1.35-14.364,4.937-52.515,8.044-62.4,2.415-7.684-.77-12.229-3.58-16.239a28.983,28.983,0,0,1-2.564-4.112,6.073,6.073,0,0,0-3.357-3.422,8.076,8.076,0,0,1-4.386-4.642c-.372-.839-.81-1.737-1.258-2.657-1.969-4.034-4-8.206-2.514-10.839.684-1.207,2.011-1.906,3.942-2.074,3.271-.284,6.674-.7,9.674-1.066,3.626-.444,6.489-.793,8.046-.793.616,0,1.049-.629,1.252-1,1.1-2.022.921-6.273-2.051-10.829-2.3-3.519-4.31-3.26-6.26-3.008-1.584.208-3.555.459-4.648-2.087-.741-1.733-2.287-6.035-.612-8.576a4.073,4.073,0,0,1,3.654-1.727,27.372,27.372,0,0,0,3.254-.223c2.646-.292,5.936-.652,15.4.227,2.672.25,4.811.511,6.521.719,2.875.353,4.951.606,5.4.2.34-.3.34-1.656.34-3.374,0-3.538,1.832-4.865,3.547-4.926a5.066,5.066,0,0,1,4.853,4.857c.137,1.931.875,3.075,1.5,3.172.484.067,1.269-.581,1.927-2.221.4-1,.781-2.034,1.157-3.05,1.666-4.5,2.869-7.758,4.989-7.758,2.282,0,3.132,1.42,4.823,4.249l.326.545c.38.631.745,1.17,1.085,1.67a9.977,9.977,0,0,1,2.142,7.547c-.092,1.38-.23,2.518-.351,3.5-.276,2.253-.427,3.5.3,4.994a13.732,13.732,0,0,1,.539,1.31c.462,1.256.572,1.556,4.442,1.556,5.7,0,9.457,0,13.145,5.031l.877,1.207c2.958,4.089,4,5.322,6.252,4.091l1.064-.576c3.285-1.771,7.372-3.975,9.478-6.609,1.142-1.428,2.234-1.967,3.254-1.611,1.453.509,2.158,2.749,2.158,6.847,0,2.091.512,2.987.951,3.12.578.173,2.232-.526,4.729-4.268.866-1.3,1.569-2.5,2.213-3.6,2.577-4.394,4.44-7.57,12.032-8.877a47.177,47.177,0,0,1,10.16-.446c3.734.137,5.273.088,5.463-.951.174-.955-.408-2.5-.972-3.992-1.128-3-2.678-7.11,1.5-9.077a38.786,38.786,0,0,1,7.7-2.68,27.015,27.015,0,0,0,3.489-1.056l.379-.151c2.714-1.081,5.52-2.2,5.52-4.224v-6a23.783,23.783,0,0,1-11.788-6.007c-.9-.9-1.719-1.668-2.455-2.356-3.386-3.172-5.25-4.92-5.25-10.385,0-1.388.061-2.743.118-4.028.208-4.556.238-7.385-1.658-8.073-2.516-.915-12.455-8.014-12.1-10.778a1.492,1.492,0,0,1,1.508-1.279c1.851-.164,4.829,1.2,9.533,3.431,3.811,1.811,8.128,3.864,11.115,4.312a19.219,19.219,0,0,0,5.562-.034c2.383-.282,4.445-.526,7.009,1.82,1.865,1.71,6.815,6.249,8.948,6.249,1.43,0,5.214-5.541,5.235-6.784l-.006-.351c-.046-1.765-.166-6.456,6.794-6.788,6.519-.311,9.621-.311,12.112-.311,1.752,0,4.617-.707,8.332-4.083a23.807,23.807,0,0,0,2.217-2.379c1.7-2.011,3.164-3.75,7.4-3.75,4.413,0,5.949-1.108,6.868-1.769l.338-.236a13.418,13.418,0,0,0,2.985-6.428c.4-3.635,1.54-7.966,4.661-7.966.261,0,.557-.008.877-.015,2.217-.051,5.248-.124,6.632,1.573a3.355,3.355,0,0,1,.536,3.014,6.931,6.931,0,0,1-1.721,3.288c-.732.848-1.135,1.313-.158,4.241.631,1.893.905,2.3,1.012,2.373a1.829,1.829,0,0,0,.3.055c.829.128,2.219.339,4.96,3.079a8.779,8.779,0,0,0,5.05,2.493c1.151.233,2.24.454,2.813,1.466.631,1.113.406,2.827-.833,6.315a51.187,51.187,0,0,1-3.94,8.639,18.8,18.8,0,0,0-2.819,8.18,77.791,77.791,0,0,0-.154,15.767c.055.881.113,1.754.16,2.627.272,4.909,2.638,11.121,6.662,17.49a30.923,30.923,0,0,1,2.69,5.7c1.313,3.42,2.263,5.892,6.384,7.2,6.506,2.068,16.037.56,17.6-1a27.272,27.272,0,0,1,9.011-5.791,37,37,0,0,1,8.62-1.6l.135-.008.132.029c1.4.309,5.347.741,6.811-.934.484-.553.984-1.218,1.506-1.912,1.95-2.592,4.16-5.53,7.257-5.53,3.447,0,12.17,1.5,12.539,1.561,4.813,1.39,9.579,2.078,10.309,1.5.843-.844,2.574-.707,4.966-.515,2.512.2,5.641.448,6.874-.69a1.931,1.931,0,0,0,.563-1.521c0-1.973-1.209-4.106-2.274-5.988-1.214-2.143-2.263-3.992-1.4-5.465.631-1.085,2.059-1.567,4.63-1.567a33.413,33.413,0,0,1,6.988.593c1.983.368,3.294.612,8.953-.273,7.9-1.233,8.857-.572,10.953,1.914a21.188,21.188,0,0,0,1.908,2.042c.652.6,1.167,1.108,1.6,1.533,1.965,1.927,1.965,1.927,7.034,1.927a22.017,22.017,0,0,0,7.918-1.887c2.818-1.064,5.723-2.165,9.2-1.82a48.347,48.347,0,0,1,6.2,1.086,34.173,34.173,0,0,0,10.067,1.075c4.642-.194,4.869-1.332,5.32-3.6a13.875,13.875,0,0,1,.97-3.275,64.671,64.671,0,0,1,3.893-6.651,54.191,54.191,0,0,0,4.438-7.835c1.575-4.095,6.956-12.377,10.883-14.993a41.083,41.083,0,0,0,8.149-7.554,3.635,3.635,0,0,1,3.725-1.392c2.072.581,3.465,3.187,4.138,7.741a82.81,82.81,0,0,0,2.558,10.911,101.589,101.589,0,0,1,3.012,12.907c1.691,10.814,3.763,15.294,5.749,18.523l.465.759c2.148,3.519,3.227,5.286,6.458,5.286.351,0,.732-.008,1.136-.015,2.964-.057,7.038-.133,8.832,2.339,1.039,1.43,1.111,3.469.215,6.058-1.06,3.063-2.229,5.9-3.258,8.407-1.681,4.095-3.136,7.629-3.5,10.581a24.26,24.26,0,0,1-1.4,5.114c-1.03,2.89-1.844,5.172-.328,7.194a10.961,10.961,0,0,1,1.78,4.506c.54,2.434.835,3.774,4.264,3.774,6.439,0,24.6.614,24.785.62,1.927-.09,12.038-.4,14.478,1.933a2.032,2.032,0,0,1,.677,1.494c0,.311.01.667.021,1.064.1,3.748.286,10.721-5.638,15.461-6.363,5.092-12.107,11.622-12.341,13.027-.4,2.419-.378,5.48.465,6.382a.718.718,0,0,0,.671.231,11.353,11.353,0,0,1,3.519.318,6.5,6.5,0,0,0,4.535-.238c1.163-.522,1.818-2.169,2.514-3.91,1-2.5,2.124-5.324,5.223-5.742.82-.111,1.651-.193,2.463-.271,4.253-.416,6.256-.827,6.256-2.806a29.087,29.087,0,0,0-.263-3.1c-.429-3.668-1.016-8.689,2.926-9.295.871-.135,1.683-.33,2.52-.53,3.071-.734,6.552-1.565,14.206-.084,8.807,1.706,13.107,3.984,18.557,6.868l1.817.959c1.544.81,2.795,1.514,3.952,2.169a63.448,63.448,0,0,0,5.751,2.976l.614.273-1.308,16.6c-.135.355-3.323,8.715-4.552,11.588a47.184,47.184,0,0,1-8.866,13.088c-3.3,3.3-4.992,9.013-6.632,14.541-.322,1.083-.642,2.164-.972,3.222-2.057,6.582-9.145,14.249-15.088,20.193-3.084,3.084-8.275,6.083-12.444,8.492-2.411,1.393-5.141,2.972-5.494,3.54.149.471,2.048,1.508,10.446,3.275l.709.151c4.171.875,4.707.987,5.158,2.93a13.468,13.468,0,0,0,2.164,4.762c3.715,5.742,3.952,7.249,4.733,12.242.2,1.26.429,2.751.768,4.607.978,5.385-1.083,8.954-3.077,12.4-1.557,2.693-3.164,5.477-3.513,9.3-.44,4.83-.057,5.059,1.78,6.155a21,21,0,0,1,6.266,5.543c.833,1.043,1.516,1.906,2.082,2.623a19.384,19.384,0,0,0,2.535,2.966,1.324,1.324,0,0,0,.362-.057,8.859,8.859,0,0,1,2.614-.109,8.4,8.4,0,0,0,3.332-.517c2.612-.776,5.309-1.578,9.693,3.748a5.612,5.612,0,0,1,1.4,4.363c-.5,3.971-5.261,7.467-9.463,10.551-2.253,1.651-4.379,3.212-5.053,4.335-1.979,3.3-.425,5.865,1.186,8.014a10.108,10.108,0,0,0,1.22,1.207,13.657,13.657,0,0,1,5.147,8.719,11.84,11.84,0,0,0,2.833,6.127,28.648,28.648,0,0,1,4.127,7.278c1.769,4.548,6.729,5.709,10.011,6.477,2.1.492,3.365.787,3.641,1.887.5,2.032-2.678,3.7-9.932,7.289-1.071.53-2.171,1.075-3.271,1.632-4.16,2.1-4.726,4.687-5.385,7.678a20.385,20.385,0,0,1-1.273,4.241c-.724,1.594-.621,2.047-.574,2.146.107.221.911.425,1.557.589a14.945,14.945,0,0,1,2.863.961,5.735,5.735,0,0,1,3.333,5.084,5.812,5.812,0,0,1-3.3,5.284c-1.849.968-1.628,2.465-.629,5.9a22.948,22.948,0,0,1,.955,4.308,76.481,76.481,0,0,1,0,10.469l-.046.622-.585.208a59.756,59.756,0,0,0-10.124,4.857,9.517,9.517,0,0,1-7.714,1.658,25.929,25.929,0,0,0-3.523-.271,22.731,22.731,0,0,0-12.334,3.183c-4.792,2.617-6.458,2.247-10.1-.486-2.124-1.594-3.45-.984-5.288-.141a17.2,17.2,0,0,1-1.677.7c-2.562.852-8.226.612-12.812-2.6a11.871,11.871,0,0,1-4.028-5.326,10.187,10.187,0,0,0-3.4-4.577c-.825-.578-1.1-.526-1.111-.526-.335.181-.656,1.872-.867,2.993a24.754,24.754,0,0,1-1.984,6.668c-.932,1.862-1.857,2.819-3,3.1-1.815.452-3.664-.877-6.733-3.077-1.782-1.277-4-2.869-6.855-4.584-3.458-2.08-4.941-3.551-5.118-5.084-.17-1.456.867-2.469,1.963-3.54,1.19-1.161,2.539-2.474,2.675-4.63.082-1.315-.15-1.613-.152-1.615h0c-.837,0-3.932,3.334-5.257,4.76-.6.646-1.157,1.245-1.626,1.714a2.074,2.074,0,0,1-2.272.77c-1.472-.591-1.59-3.021-1.674-7.265-.027-1.325-.051-2.573-.151-3.572a52.042,52.042,0,0,1,.849-16c.831-3.321.692-6.929.53-11.108-.071-1.868-.147-3.852-.147-5.989,0-6.117,6.975-19.579,9.295-23.887-12.779-.728-102.782-5.885-126.014-8.17l-.684-.067c-21.039-2.07-21.039-2.07-24.06-2.823-.481-.12-1.039-.259-1.78-.431-5.839-1.348-11.649-6.432-14.44-8.873-2.085-1.824-4.223-5.633-6.7-10.044-1.615-2.877-3.444-6.14-5.435-9.123-3.162-4.745-5.688-11.533-7.36-16.026a34.725,34.725,0,0,0-2.013-4.874,3,3,0,0,0-.64-.549c-.162.048-.986.566-3.182,5.235-1.851,3.932-1.506,8.851-1.229,12.8.212,3.039.366,5.233-.54,6.365-1.092,1.365-2.486,7.3-3.107,10.713l-.135.747-70.752,3.29c1.016,16.348,2.917,46.148,3.229,48.022a.355.355,0,0,0,.183.271c.763.5,2.837.316,6.161-.534l.324-.082c1.859-.469,6.642-1.666,19.848,3.755,7.388,3.033,9.019,4.472,9.335,5.934.281,1.3-.616,2.251-1.567,3.262a13.07,13.07,0,0,0-1.426,1.7c-2.205,3.307-1.121,6.605,1.339,13.163,2.613,6.971,2.062,10.2.45,17.457-.87,3.908-1.682,4.813-2.918,5.835-.86.713-1.832,1.519-3.321,5.055a25.518,25.518,0,0,1-10.719,11.931Zm-16.806-7.574c3.94,0,6.06.98,8.994,2.335,1.148.532,2.446,1.132,4.039,1.752.959.374,1.771.682,2.478.949l1.157.442a24.078,24.078,0,0,0,9.478-10.774c1.67-3.967,2.886-4.975,3.862-5.784.861-.713,1.483-1.228,2.272-4.781,1.632-7.335,2.032-9.962-.374-16.373-2.543-6.786-3.851-10.824-1.138-14.892a14.785,14.785,0,0,1,1.624-1.952c.57-.608,1.159-1.233,1.09-1.554-.191-.881-2.947-2.419-8.2-4.573-12.625-5.183-16.969-4.093-18.6-3.685l-.372.093c-3.025.776-6.05,1.346-7.674.286a2.253,2.253,0,0,1-1.022-1.554c-.415-2.486-3.193-47.279-3.311-49.185l-.061-.966,71.175-3.309c.454-2.341,1.837-8.921,3.353-10.818.44-.549.273-2.936.126-5.04-.276-3.954-.654-9.367,1.406-13.748,2.356-5.008,3.477-6.1,4.615-6.3a2.6,2.6,0,0,1,2.284,1.081c.585.585,1.174,2.125,2.45,5.553,1.639,4.409,4.119,11.073,7.158,15.633,2.03,3.044,3.879,6.34,5.511,9.249,2.389,4.257,4.451,7.932,6.288,9.541,2.675,2.341,8.24,7.211,13.615,8.452.755.173,1.325.316,1.813.438,2.886.719,2.886.719,23.786,2.775l.682.067c24.859,2.446,126.42,8.191,127.443,8.248l1.521.086-.743,1.331c-.1.175-9.781,17.6-9.781,24.289,0,2.11.077,4.072.147,5.915.166,4.325.311,8.06-.585,11.643a50.558,50.558,0,0,0-.8,15.351c.109,1.075.134,2.362.16,3.725a23.8,23.8,0,0,0,.462,5.395,2.372,2.372,0,0,0,.232-.21c.456-.456.995-1.035,1.577-1.662,3.36-3.62,5.688-5.938,7.472-5.175,1.27.547,1.317,2.228,1.241,3.446-.181,2.888-1.952,4.613-3.246,5.875-.785.766-1.462,1.428-1.4,1.956.065.558.846,1.649,4.207,3.667,2.92,1.758,5.174,3.372,6.985,4.67,2.44,1.75,4.209,3.018,5.164,2.777.537-.133,1.109-.822,1.752-2.1a23.078,23.078,0,0,0,1.817-6.17c.427-2.251.734-3.879,2.024-4.405a3.214,3.214,0,0,1,2.923.732,11.878,11.878,0,0,1,4.028,5.326,10.169,10.169,0,0,0,3.4,4.575c3.824,2.678,8.91,3.084,11.115,2.352a15.259,15.259,0,0,0,1.485-.62c1.87-.858,4.2-1.925,7.227.349,2.96,2.217,3.816,2.648,8.05.337a24.71,24.71,0,0,1,13.245-3.416,27.51,27.51,0,0,1,3.767.286,7.658,7.658,0,0,0,6.447-1.374,59.206,59.206,0,0,1,9.914-4.825,73.183,73.183,0,0,0-.036-9.55,21.555,21.555,0,0,0-.886-3.95c-.862-2.968-1.839-6.333,1.577-8.119a3.9,3.9,0,0,0,2.274-3.561,3.845,3.845,0,0,0-2.24-3.4,13.281,13.281,0,0,0-2.52-.835c-1.19-.3-2.312-.585-2.8-1.611-.416-.864-.25-1.988.557-3.761a18.916,18.916,0,0,0,1.146-3.862c.7-3.174,1.42-6.456,6.388-8.971,1.1-.559,2.209-1.106,3.286-1.638,3.391-1.677,7.954-3.936,8.8-5.042a17.9,17.9,0,0,0-2.1-.57c-3.447-.806-9.219-2.158-11.352-7.644a26.5,26.5,0,0,0-3.885-6.834,13.708,13.708,0,0,1-3.185-6.992c-.572-4.011-2.861-6.068-4.533-7.572a11.16,11.16,0,0,1-1.474-1.481c-1.226-1.634-4.1-5.46-1.292-10.137.871-1.451,3.044-3.044,5.559-4.89,3.7-2.716,8.3-6.094,8.7-9.253a3.72,3.72,0,0,0-.972-2.915c-3.584-4.352-5.3-3.837-7.678-3.132a10.269,10.269,0,0,1-4.049.589,6.926,6.926,0,0,0-2.1.088c-1.649.294-1.884,0-4.733-3.6-.562-.715-1.243-1.576-2.072-2.613a19,19,0,0,0-5.755-5.1c-2.415-1.443-3.223-2.232-2.7-7.966.385-4.241,2.1-7.211,3.761-10.082,1.988-3.441,3.706-6.413,2.852-11.11-.341-1.874-.578-3.382-.776-4.653-.753-4.808-.955-6.1-4.449-11.5a15.22,15.22,0,0,1-2.423-5.368c-.175-.757-.175-.757-3.691-1.495l-.711-.149c-7.656-1.613-10.7-2.7-11.613-4.171a1.949,1.949,0,0,1-.253-1.531c.259-1.033,1.763-1.977,6.354-4.628,4.074-2.354,9.142-5.284,12.049-8.191,5.79-5.791,12.682-13.229,14.615-19.413.328-1.05.646-2.122.964-3.2,1.71-5.757,3.473-11.708,7.111-15.345a45.616,45.616,0,0,0,8.461-12.492c1.136-2.646,4.06-10.3,4.476-11.386l1.134-14.861c-2.025-.936-3.553-1.8-5.3-2.781-1.144-.644-2.377-1.34-3.9-2.139l-1.822-.963c-5.515-2.92-9.5-5.031-18.027-6.681-7.255-1.4-10.376-.656-13.4.067-.888.212-1.75.415-2.675.558-1.969.3-1.776,3.3-1.323,7.19a30.543,30.543,0,0,1,.276,3.317c0,3.923-4.055,4.32-7.978,4.7-.789.078-1.6.156-2.394.263-2,.269-2.825,2.352-3.706,4.558-.806,2.017-1.639,4.1-3.5,4.943a8.363,8.363,0,0,1-5.7.366,9.607,9.607,0,0,0-2.957-.288,2.607,2.607,0,0,1-2.246-.825c-1.844-1.979-1.115-7.009-.951-8,.412-2.457,7.343-9.651,13.031-14.2,5.185-4.148,5.015-10.505,4.923-13.921-.011-.416-.021-.791-.021-1.115-1.451-1.42-8.6-1.723-13.239-1.523-.256,0-18.388-.618-24.795-.618-4.958,0-5.579-2.8-6.125-5.269a9.342,9.342,0,0,0-1.445-3.776c-2.131-2.84-1.018-5.959.057-8.977a22.614,22.614,0,0,0,1.306-4.71c.4-3.2,1.9-6.849,3.635-11.07,1.02-2.48,2.175-5.294,3.218-8.307.682-1.964.694-3.416.044-4.314-1.21-1.664-4.7-1.6-7.253-1.552-.418.008-.81.015-1.172.015-4.3,0-5.886-2.6-8.086-6.2l-.461-.753c-2.862-4.647-4.6-10.217-6.009-19.228a99.781,99.781,0,0,0-2.96-12.678,83.4,83.4,0,0,1-2.61-11.153c-.776-5.236-2.316-6.06-2.77-6.188a1.819,1.819,0,0,0-1.746.78,43.051,43.051,0,0,1-8.555,7.919c-3.521,2.345-8.666,10.2-10.16,14.091a55.1,55.1,0,0,1-4.608,8.17,63.641,63.641,0,0,0-3.772,6.43,12.084,12.084,0,0,0-.831,2.85c-.606,3.033-1.386,4.89-7.112,5.13a35.808,35.808,0,0,1-10.562-1.119,46.931,46.931,0,0,0-5.97-1.05c-3-.3-5.6.673-8.332,1.708a23.532,23.532,0,0,1-8.591,2.009c-5.517,0-5.847,0-8.369-2.472-.423-.414-.924-.907-1.559-1.494a22.344,22.344,0,0,1-2.072-2.211c-1.584-1.88-2.011-2.387-9.2-1.26-5.978.934-7.493.654-9.594.265a31.272,31.272,0,0,0-6.641-.562c-2.5,0-2.924.517-2.983.62-.307.528.648,2.213,1.414,3.567,1.182,2.087,2.522,4.451,2.522,6.927a3.8,3.8,0,0,1-1.176,2.922c-1.845,1.7-5.284,1.432-8.317,1.188a11.71,11.71,0,0,0-3.5-.006c-1.725,1.731-9-.137-12.048-1.022h0c-.034,0-8.835-1.51-12.11-1.51-2.146,0-4.051,2.533-5.732,4.769-.553.734-1.083,1.437-1.6,2.023-2.326,2.657-7.564,1.759-8.517,1.569a35.061,35.061,0,0,0-7.964,1.483,25.143,25.143,0,0,0-8.315,5.347c-2.194,2.194-12.471,3.719-19.528,1.474-5-1.59-6.256-4.867-7.587-8.338a29.016,29.016,0,0,0-2.524-5.368c-4.193-6.639-6.662-13.174-6.952-18.4-.048-.867-.1-1.737-.16-2.612a79.377,79.377,0,0,1,.166-16.127,20.808,20.808,0,0,1,3.042-8.864,49.647,49.647,0,0,0,3.812-8.353c1.163-3.279,1.169-4.388.97-4.741-.145-.254-.789-.385-1.534-.534a10.707,10.707,0,0,1-6.018-3.016c-2.3-2.3-3.3-2.449-3.9-2.541-1.41-.213-1.86-.8-2.829-3.711-1.229-3.689-.621-4.762.524-6.089a5.068,5.068,0,0,0,1.308-2.47c.213-.928-.065-1.271-.158-1.384-.791-.97-3.49-.9-5.107-.869-.337.008-.648.015-.923.015-1.258,0-2.343,2.461-2.766,6.27-.336,3.023-2.621,7-3.822,7.8l-.28.2c-1.033.743-2.957,2.127-7.983,2.127-3.347,0-4.323,1.157-5.942,3.073a25.3,25.3,0,0,1-2.39,2.56c-4.165,3.784-7.528,4.579-9.615,4.579-2.472,0-5.547,0-12.023.309-5.1.242-5.025,3.006-4.979,4.834l.007.4c0,2.026-4.339,8.689-7.141,8.689-2.386,0-5.818-2.7-10.236-6.748-1.92-1.759-3.191-1.609-5.5-1.334a21,21,0,0,1-6.07.027c-3.267-.49-7.72-2.608-11.651-4.474-3.2-1.523-6.5-3.092-8.134-3.25,1.258,2.023,7.991,7.39,10.66,8.361,3.307,1.2,3.124,5.257,2.911,9.951-.057,1.258-.116,2.585-.116,3.942,0,4.638,1.359,5.913,4.647,8.994.749.7,1.582,1.483,2.5,2.4,4.667,4.666,11.449,5.6,11.516,5.606l.831.109v7.644c0,3.319-3.57,4.741-6.721,6l-.376.151a28.842,28.842,0,0,1-3.725,1.132,37.049,37.049,0,0,0-7.362,2.558c-2.333,1.1-1.931,2.968-.532,6.679.684,1.817,1.33,3.532,1.061,5-.5,2.77-3.55,2.659-7.407,2.516a45.906,45.906,0,0,0-9.766.419c-6.72,1.159-8.137,3.576-10.711,7.964-.661,1.129-1.384,2.36-2.272,3.692-2.583,3.874-4.958,5.616-6.868,5.036-1.052-.318-2.3-1.435-2.3-4.945,0-3.759-.656-4.933-.886-5.05,0,.006-.368.051-1.13,1-2.348,2.936-6.626,5.242-10.061,7.1l-1.056.572c-3.831,2.093-5.879-.734-8.71-4.647l-.869-1.2c-3.119-4.253-6.135-4.253-11.609-4.253-4.552,0-5.419-.6-6.232-2.806a12.149,12.149,0,0,0-.465-1.136c-.97-2-.772-3.614-.473-6.056.116-.953.25-2.057.339-3.395a8.147,8.147,0,0,0-1.818-6.35c-.357-.526-.742-1.1-1.142-1.761l-.328-.547c-1.685-2.819-2.072-3.321-3.185-3.321-.829.1-2.371,4.272-3.2,6.514-.381,1.031-.772,2.085-1.176,3.1-1.365,3.414-3.246,3.515-3.988,3.395-1.694-.263-2.913-2.194-3.107-4.918a3.254,3.254,0,0,0-2.884-3.09c-1.087.04-1.71,1.14-1.71,3.021,0,2.535,0,3.933-.982,4.8-1.1.97-2.8.764-6.9.263-1.7-.208-3.817-.467-6.466-.713-9.274-.862-12.457-.513-15.014-.231a29.146,29.146,0,0,1-3.464.234,2.267,2.267,0,0,0-2.062.871c-.8,1.209-.5,3.8.772,6.775.5,1.17,1,1.157,2.652.947,2.051-.263,5.15-.665,8.1,3.858,3.416,5.238,3.53,10.191,2.129,12.778a3.406,3.406,0,0,1-2.928,2c-1.441,0-4.394.36-7.813.78-3.018.368-6.437.785-9.741,1.073a2.923,2.923,0,0,0-2.449,1.113c-1,1.758.981,5.808,2.568,9.064.459.942.907,1.859,1.289,2.718a6.229,6.229,0,0,0,3.5,3.71,7.927,7.927,0,0,1,4.232,4.318,27.405,27.405,0,0,0,2.4,3.828c2.911,4.156,6.533,9.325,3.837,17.905-3.046,9.689-6.618,47.7-7.964,62l-.353,3.71c-.173,1.809-.259,3.286-.332,4.508-.324,5.536-.545,6.516-6.477,8.672-4.485,1.634-6.573-1.891-7.951-4.224-.54-.915-1.212-2.051-1.657-2.127-.145-.04-.364.09-.629.311-1.99,1.657-4.083,2.023-6.3,2.411a15.717,15.717,0,0,0-7.066,2.585,14.149,14.149,0,0,1-7.41,2.64,19.724,19.724,0,0,0-7.257,2.076,63.1,63.1,0,0,0-11.943,7.4l-2.464,1.8c-6.806,4.949-7.551,5.747-8.681,8.01-1.159,2.316-1.75,4.573-3.01,11.5-.706,3.877-1.838,4.7-3.248,5.374-.73.349-1.26.6-1.716,2.423a17.231,17.231,0,0,0-.295,7.059,43.58,43.58,0,0,1,.324,5.086c0,4.663-3.839,5.976-7.553,7.248a28.221,28.221,0,0,0-4.091,1.639c-2.358,1.258-2.156,2.164-1.611,4.581a17.83,17.83,0,0,1,.566,5.153,8.559,8.559,0,0,1-1.96,5.37,2.542,2.542,0,0,0-.555,2.96c.976,3.176,8.717,14.276,11.618,18.286.269.278,8.4,9.049,11.22,14.676a22.163,22.163,0,0,1,1.941,5.511,5.509,5.509,0,0,0,.318,1.117c.01-.011.145.011.482-.03a11.79,11.79,0,0,0,1.489-.381c3.248-.951,10-2.928,13.138,5.639,2.446,6.666,5.116,6.3,7.459,5.984a7.9,7.9,0,0,1,1.977-.1c2.512.318,9.655-.036,11.573-.858,1.967-.843,3.367-1.609,9.3-7.533,3.111-3.111,5.593-4.245,7.389-3.368a3.613,3.613,0,0,1,1.657,3.851,32,32,0,0,0,.421,5.1,123.422,123.422,0,0,1,1.132,18.63c-.109,4.258.776,6.988,2.556,7.894,2.057,1.045,5.082-.353,7.049-1.866,2.678-2.061,4.245-1.914,6.615-1.695a27.709,27.709,0,0,0,6.539-.044c5.816-.7,9.956.145,14.75,1.117,1.733.353,3.571.724,5.627,1.054,6.727,1.083,6.966-.2,7.852-4.939,1.142-6.083,4.6-6.2,10.61-5.9,3.38.17,4.014-.572,5.577-2.362a26.426,26.426,0,0,1,4.96-4.577c2.834-2.026,4.952-3.751,6.822-5.273a50.133,50.133,0,0,1,6.874-4.99c2.737-1.565,8.187-2.381,15.086-3.416,4.535-.679,9.674-1.449,14.89-2.568,4.129-.885,6.647-.669,7.924.677,1.489,1.569.833,4,.2,6.354-.393,1.46-.8,2.972-.52,3.811.873,2.619.231,5.08-.389,7.459a23.029,23.029,0,0,0-.8,4.055,6.749,6.749,0,0,0,1.611,4.682,7.344,7.344,0,0,1,1.478,3.172,28.5,28.5,0,0,1,.082,4.9c-.036.907-.074,1.876-.074,2.958,0,1.525.862,2.993,2.055,5.027a48.574,48.574,0,0,1,3.13,6.052c1.117,2.652,1.971,3.13,3.519,4,1.617.905,3.828,2.146,7.175,6.291,3.961,4.9,4.333,4.8,6.4,4.207a19.182,19.182,0,0,1,5.856-.848c3.892,0,5-.067,5.658-.107a28.686,28.686,0,0,1,3.988.109c3.48.192,4.417.984,5.656,2.259a10.864,10.864,0,0,0,3.382,2.48c2.972,1.489,3.641,1.111,4.289.749a3.373,3.373,0,0,1,1.782-.54c1.729,0,3.721,2.276,6.794,6.026.7.852,1.368,1.668,1.963,2.341,1.386,1.557,5.351,1.129,8.245.816a20.111,20.111,0,0,1,3.833-.2c2.24.25,2.966,1.759,3.969,3.849a31.62,31.62,0,0,0,2.592,4.6c1.958,2.848,3.033,2.6,5.389,2.045A18.1,18.1,0,0,1,1316.8,746.719Z" transform="translate(-1018.23 -300.497)" fill="#dfa9fe"/>
                                </g>
                                <g id="Grupo_7339" data-name="Grupo 7339" transform="translate(1416.838 960.04)">
                                    <path id="Caminho_17375" data-name="Caminho 17375" d="M1312.431,919.23a1.752,1.752,0,0,1-.911-.248c-1.1-.648-1.313-2.219-.74-5.427,1.039-5.824,2.257-7.785,3.545-9.861a24.526,24.526,0,0,0,2.082-3.948c1.489-3.614,1.146-3.973-.29-5.478-.419-.442-.905-.951-1.43-1.609a7.922,7.922,0,0,0-3.111-2.112c-1.868-.873-3.99-1.862-4.213-5.227-.253-3.788-1.836-5.545-3.667-7.577l-.74-.833a11.252,11.252,0,0,0-2.793-1.956c-2.537-1.458-5.7-3.273-7.756-7.873-1.352-3.02-3.382-3.4-5.952-3.879-2.327-.436-4.962-.928-7.055-3.668a35.331,35.331,0,0,1-3.25-5.183c-1.171-2.183-1.758-3.279-3.65-3.751a20.5,20.5,0,0,1-3.008-1.1c-1.394-.591-2.837-1.2-3.572-.843a2.326,2.326,0,0,0-.932,1.567c-.755,2.827-3.153,6.62-5.644,6.378-1.758-.166-2.779-2.059-3.033-5.627-.486-6.784-3.721-9.495-7.144-12.364-.724-.606-1.449-1.212-2.145-1.857a15.665,15.665,0,0,1-2.764-3.549c-1.308-2.127-1.7-2.766-5.4-.654-8.923,5.1-10.41,4.691-11.169,3.83-.858-.972,0-2.408.961-3.683a50.553,50.553,0,0,1,6.229-6.237c4.013-3.618,8.563-7.718,10.039-11.771,2.335-6.428,5.33-12.77,16.163-19.665,4.152-2.64,8.477-6.7,12.657-10.621,6.054-5.679,12.314-11.552,18.495-13.614,9.133-3.04,10.277-4.442,12.785-7.509l.709-.86c2.873-3.447,2.873-5.949,2.873-14.242,0-8.258-2.791-17.057-5.418-21.144-1.9-2.957-4.973-3.86-7.684-4.655a24.024,24.024,0,0,1-2.593-.862c-2.436-1.037-1.51-4.485-.335-8.851a44.031,44.031,0,0,0,1.8-9.394c.084-2.076.212-4.062.332-5.908.257-4.009.479-7.47.063-9.432l-.065-.307.128-.282c.044-.1,4.293-9.545,6.735-15.248a23.118,23.118,0,0,1,4.5-7.042,58.149,58.149,0,0,0,4.26-5.5c3.977-5.793,7.316-7.579,13.38-10.816,1.054-.564,2.2-1.172,3.438-1.858l.726-.4.5.663c.135.179,3.547,4.447,12.274,2.934,6.851-1.193,10.711.347,15.6,2.3a79.253,79.253,0,0,0,7.518,2.678l.688.2c9.466,2.764,13.386,3.908,19.325,4.3.721.048,1.365.08,1.948.107,4.811.234,5.94.5,9.07,6.6a35.52,35.52,0,0,1,3.511,9.417c.442,1.756.993,3.94,2,7.244a102.786,102.786,0,0,0,4.253,11.07c1.773,4.095,3.054,7.053,2.793,9.129a.849.849,0,0,0,.175.753c.793.869,3.8.768,5.786.694.627-.023,1.224-.042,1.758-.042,3.469,0,9.205,2.566,9.205,5.492a4.52,4.52,0,0,0,4.211,4.453l2.322.24-3.685,2.955a64.8,64.8,0,0,1-5.579,4.083c-2.735,1.819-2.735,1.819-2.735,6.317a86.654,86.654,0,0,1-1.512,12.778,92.049,92.049,0,0,0-1.582,13.523c0,2.72-.149,5-.28,7.011-.236,3.593-.406,6.188.517,8.4a8.264,8.264,0,0,0,2.055,2.793c1.248,1.237,2.535,2.516,1.35,5.366a21.979,21.979,0,0,1-2.77,4.562,31.767,31.767,0,0,0-4.039,6.891c-.475,1.127-.881,2.206-1.269,3.245-1.674,4.462-3.121,8.315-8.374,11.729-1.024.663-1.944,1.23-2.791,1.748-4.28,2.617-6.428,3.931-10.185,11.2-1.249,2.411-2.431,4.558-3.527,6.548-2.949,5.359-5.278,9.59-6.607,14.9-1.811,7.244-3.355,9.079-9.1,15.906l-.995,1.184a53.005,53.005,0,0,1-10.753,9.924c-2.3,1.724-5.153,3.866-9.171,7.213a55.561,55.561,0,0,1-8.887,6.174c-3.311,1.9-4.548,2.608-7.558,9.564-.641,1.485-1.273,2.964-1.895,4.422-4.3,10.075-8.016,18.775-11.742,21.354-.791.549-1.62,1.222-2.427,1.874C1315.338,917.935,1313.743,919.23,1312.431,919.23Zm-45.971-72.588a10.437,10.437,0,0,1,3.776,1.107,19.005,19.005,0,0,0,2.726,1c2.713.677,3.618,2.366,4.87,4.7a33.647,33.647,0,0,0,3.082,4.926c1.649,2.158,3.71,2.543,5.891,2.951,2.617.488,5.583,1.043,7.343,4.975,1.807,4.034,4.546,5.608,6.965,7a12.591,12.591,0,0,1,3.277,2.354l.724.81c1.895,2.1,3.854,4.281,4.152,8.729.149,2.24,1.331,2.791,3.117,3.626a9.712,9.712,0,0,1,3.793,2.648c.484.606.934,1.079,1.323,1.483,1.946,2.047,2.469,3.153.669,7.522a26.4,26.4,0,0,1-2.225,4.226c-1.239,2-2.312,3.729-3.286,9.192-.524,2.93-.143,3.464-.127,3.485h0c.469,0,2.383-1.55,3.528-2.476.843-.682,1.712-1.384,2.543-1.96,3.275-2.267,7.061-11.14,11.072-20.536.625-1.458,1.256-2.943,1.9-4.43,3.26-7.537,4.859-8.452,8.361-10.46a53.82,53.82,0,0,0,8.614-5.985c4.057-3.378,6.933-5.539,9.245-7.274a50.952,50.952,0,0,0,10.439-9.623l.995-1.186c5.664-6.729,7.007-8.325,8.712-15.143,1.388-5.557,3.77-9.882,6.786-15.359,1.09-1.979,2.263-4.11,3.5-6.506,4-7.739,6.592-9.323,10.883-11.947.835-.511,1.742-1.065,2.751-1.719,4.728-3.075,6.007-6.485,7.627-10.8.4-1.064.812-2.167,1.3-3.317a33.423,33.423,0,0,1,4.255-7.272,20.239,20.239,0,0,0,2.552-4.173c.694-1.666.22-2.139-.932-3.282a10.047,10.047,0,0,1-2.474-3.41c-1.094-2.629-.911-5.41-.658-9.262.129-1.982.276-4.228.276-6.885a93.113,93.113,0,0,1,1.609-13.832,85.856,85.856,0,0,0,1.485-12.469c0-5.212.2-5.656,3.588-7.905a63.564,63.564,0,0,0,5.429-3.972l.393-.318a6.457,6.457,0,0,1-3.942-5.852c0-1.155-4.089-3.586-7.3-3.586-.513,0-1.089.019-1.689.042-2.752.1-5.871.21-7.26-1.312a2.744,2.744,0,0,1-.66-2.28c.2-1.559-1.125-4.606-2.652-8.132a105.172,105.172,0,0,1-4.327-11.273c-1.018-3.347-1.574-5.557-2.02-7.333a33.621,33.621,0,0,0-3.363-9.013c-2.735-5.332-3.181-5.355-7.463-5.563-.595-.029-1.249-.061-1.982-.109-6.148-.41-10.4-1.651-19.735-4.375l-.684-.2a79.876,79.876,0,0,1-7.692-2.735c-4.792-1.908-8.257-3.288-14.569-2.188-7.985,1.391-12.141-1.668-13.561-3.046-1,.545-1.933,1.043-2.806,1.51-5.988,3.2-8.992,4.8-12.707,10.214a60.361,60.361,0,0,1-4.384,5.658,21.288,21.288,0,0,0-4.2,6.554c-2.215,5.168-5.905,13.4-6.626,15,.391,2.221.177,5.515-.088,9.634-.118,1.832-.244,3.8-.326,5.864a45.481,45.481,0,0,1-1.863,9.813c-.743,2.768-1.67,6.214-.759,6.6a23.444,23.444,0,0,0,2.383.787c2.882.845,6.466,1.9,8.753,5.452,2.84,4.426,5.719,13.462,5.719,22.175,0,8.359,0,11.483-3.317,15.462l-.7.846c-2.665,3.26-4,4.893-13.656,8.113-5.786,1.927-11.891,7.655-17.8,13.193-4.245,3.984-8.635,8.1-12.938,10.841-10.328,6.573-13.176,12.6-15.4,18.706-1.635,4.5-6.372,8.769-10.551,12.537a49.247,49.247,0,0,0-5.982,5.965,8.953,8.953,0,0,0-.719,1.083c.9-.2,3.153-1,8.456-4.03,4.941-2.821,6.31-1.39,7.97,1.31a13.815,13.815,0,0,0,2.432,3.151c.675.622,1.374,1.207,2.076,1.8,3.578,3,7.278,6.1,7.821,13.691.212,2.972.924,3.826,1.312,3.864.848.128,2.859-2.11,3.624-4.973a3.975,3.975,0,0,1,1.937-2.787A3.068,3.068,0,0,1,1266.46,846.642Z" transform="translate(-1227.337 -646.489)" fill="#dfa9fe"/>
                                </g>
                                <g id="Grupo_7340" data-name="Grupo 7340" transform="translate(1515.682 769.252)">
                                    <path id="Caminho_17376" data-name="Caminho 17376" d="M1381.7,807.1l-.366-.456-.044.433a6.469,6.469,0,0,1-5.921-6.35c0-1.155-4.089-3.586-7.3-3.586-.513,0-1.089.019-1.689.042-2.752.1-5.871.21-7.26-1.312a2.744,2.744,0,0,1-.66-2.28c.2-1.559-1.125-4.606-2.652-8.132a105.166,105.166,0,0,1-4.327-11.273c-1.018-3.347-1.574-5.557-2.02-7.333a33.617,33.617,0,0,0-3.363-9.013c-2.735-5.332-3.181-5.355-7.463-5.563-.595-.028-1.249-.061-1.982-.109-6.148-.41-10.406-1.651-19.735-4.375l-.684-.2a80.379,80.379,0,0,1-7.692-2.737c-4.792-1.908-8.258-3.288-14.569-2.188-9.954,1.733-13.961-3.447-14.129-3.668l-.658-.877.961-.532a19.355,19.355,0,0,1,6.84-2.282c3-.5,4.373-.732,7.166-8.349a28.191,28.191,0,0,1,6.281-10.65c2.055-2.314,4-4.5,6.081-11.172,4.171-13.346,8.054-14.533,13.427-16.178l.4-.124c4.657-1.433,4.674-1.986,3.47-8.826-1.272-7.2-1.685-10.856,2.739-15.279a23.569,23.569,0,0,1,5.429-4c1.54-.881,2.3-1.342,2.591-2.234.078-.234.153-.484.231-.743.768-2.592,1.933-6.51,9.338-6.51,8.254,0,15.986-1.38,18.386-3.281.456-.362.846-.717,1.224-1.06,2.07-1.876,3.857-3.5,12.158-3.5a37.046,37.046,0,0,0,8-.835c2.8-.555,4.649-.921,8.13.949,4.642,2.5,11.384-2.911,13.6-4.691l.206-.164c1.182-.945,3.216-6.422,3.063-9.937-.057-1.317-.413-1.655-.52-1.727a18.219,18.219,0,0,0-1.687-.924c-2.127-1.081-4.779-2.429-5-4.674-.137-1.4.679-2.768,2.5-4.2,1.3-1.02,2.436-1.761,3.347-2.354,3.111-2.028,3.511-2.289,1.432-7.692-2.127-5.53-4.112-10.688-2.06-14.453,1.136-2.082,3.343-3.441,6.754-4.15,9.266-1.929,9.1-7.5,7.918-14.588-1.376-8.246,2.4-8.931,6.766-9.722l.192-.036c1.273-.231,1.866-1.538,2.568-3.362.549-1.43,1.117-2.909,2.484-3.176,1.148-.223,2.385.486,4.066,2.288a88.866,88.866,0,0,0,7.589,7.48c1.883-.469,10.526-3.925,15.359-9.127,5.1-5.49,14.836-9.747,19.787-11.4,4.274-1.426,10.908.143,12.724,4.23a12.72,12.72,0,0,1,.743,5.214c0,2.8.17,3.582,1.378,3.715,3.679.406,7.818-1.4,10.608-2.793,3.235-1.618,5.013.385,7.072,2.7.555.623,1.163,1.308,1.866,2.013a19.573,19.573,0,0,1,2.5,3.353c1.926,3.012,3.744,5.858,9.205,5.858a8.963,8.963,0,0,0,5.772-1.817c2.366-1.616,3.849-1.908,8.082,2.074,7.366,6.933,10.93,10.538,11.815,13.635.644,2.259,4.215,3.41,9.325,3.025,6.075-.473,10.217.667,14.281,3.917a8.328,8.328,0,0,0,3.759,1.7,2.928,2.928,0,0,1,2.173,1.191c.479.848.253,1.975-.259,3.517-.807,2.415-2.7,4.392-4.539,6.3-2.1,2.183-4.077,4.243-4.077,6.6,0,4.52-.382,5.107-2.76,6.725-.278.191-.589.4-.94.652-2.96,2.116-4.821,3.852-3.75,8.5.692,3,2.528,6.1,4.146,8.837a31.877,31.877,0,0,1,2.844,5.515c.787,2.366,6.948,5.069,10.646,6.216l-.191.608.911.256c-.015.055-.032.112-.048.17l-.305,1.077-.011-.006c-.471,1.533-1.039,3.166-1.632,4.876-2.112,6.1-4.506,13-2.991,16.985,1.87,4.909-.173,6.754-2.762,9.087a25.43,25.43,0,0,0-4.156,4.485,30.957,30.957,0,0,1-4.9,5.448,16.832,16.832,0,0,0-5.2,7.349,36.714,36.714,0,0,1-5.633,9.7,36.4,36.4,0,0,0-2.781,4.037c-1.092,1.91-2.96,2.76-4.609,3.513-2.592,1.182-4.308,1.963-3.338,6,2.034,8.469.133,15.086-.692,16.739-.688,1.369-2.367,1.807-4.5,2.358a25.4,25.4,0,0,0-5.808,2.08,16.365,16.365,0,0,1-6.187,1.409c-3.828.366-6.009.721-6.31,3.723a14.1,14.1,0,0,0,.91,5.8c.532,1.656.949,2.966.166,3.982-.6.78-1.674,1.081-3.618.976a22.286,22.286,0,0,1-5.473-1.066c-3.208-.932-6.525-1.9-14.741-.494a60.6,60.6,0,0,1-14.533.686c-3.649-.187-6.531-.334-10.082.843a62.407,62.407,0,0,1-8.451,1.971c-4.434.818-8.263,1.523-9.99,3.6a34.427,34.427,0,0,1-17.194,11.14,63.666,63.666,0,0,1-6.571,1.329c-4.9.8-9.125,1.491-15.728,5.966a109.426,109.426,0,0,0-10.757,8.49,78.314,78.314,0,0,1-12.193,9.179,50.564,50.564,0,0,1-6.346,3.3c-1.333.576-1.981.854-5,3.246Zm-13.629-11.864c3.469,0,9.205,2.566,9.205,5.492a4.5,4.5,0,0,0,3.837,4.4c3.2-2.528,3.921-2.839,5.4-3.479a49.139,49.139,0,0,0,6.136-3.191,76.816,76.816,0,0,0,11.91-8.975,110.691,110.691,0,0,1,10.934-8.628c6.952-4.71,11.584-5.467,16.491-6.27a62,62,0,0,0,6.382-1.287,32.5,32.5,0,0,0,16.226-10.522c2.167-2.6,6.31-3.364,11.108-4.249a61.419,61.419,0,0,0,8.2-1.906c3.893-1.291,7.087-1.129,10.778-.938a57.79,57.79,0,0,0,14.116-.662c8.641-1.473,12.335-.406,15.593.543a20.591,20.591,0,0,0,5.038.993c1.744.076,2-.225,2.009-.237.173-.227-.214-1.437-.469-2.24a15.824,15.824,0,0,1-.989-6.571c.469-4.7,4.482-5.09,8.025-5.431a14.992,14.992,0,0,0,5.469-1.193,26.956,26.956,0,0,1,6.228-2.242c1.593-.414,2.972-.77,3.269-1.367.938-1.872,2.3-8.113.543-15.439-1.334-5.568,1.845-7.019,4.4-8.183,1.521-.694,2.958-1.348,3.744-2.724a37.9,37.9,0,0,1,2.919-4.243,34.561,34.561,0,0,0,5.376-9.247,18.677,18.677,0,0,1,5.686-8.056,28.984,28.984,0,0,0,4.634-5.139,27.171,27.171,0,0,1,4.439-4.806c2.514-2.27,3.662-3.305,2.257-6.994-1.763-4.627.753-11.885,2.972-18.286.587-1.7,1.149-3.325,1.613-4.831-2.663-.909-9.831-3.647-10.993-7.139a30.939,30.939,0,0,0-2.675-5.151c-1.689-2.854-3.6-6.087-4.364-9.379-1.332-5.765,1.251-8.157,4.5-10.479.362-.257.684-.479.976-.675,1.853-1.262,1.926-1.313,1.926-5.151,0-3.12,2.342-5.56,4.607-7.919,1.691-1.758,3.437-3.576,4.106-5.585.522-1.565.429-1.927.406-1.982a5.025,5.025,0,0,0-.934-.263,10.255,10.255,0,0,1-4.527-2.07c-3.646-2.919-7.394-3.931-12.945-3.508-6.144.478-10.381-1.172-11.3-4.4-.783-2.735-4.787-6.649-11.289-12.77-3.565-3.357-4.148-2.953-5.7-1.889a10.756,10.756,0,0,1-6.847,2.148c-6.5,0-8.794-3.58-10.812-6.739a17.772,17.772,0,0,0-2.24-3.031c-.734-.732-1.366-1.445-1.944-2.095-2.177-2.453-2.953-3.185-4.794-2.263-3.008,1.5-7.484,3.437-11.67,2.981-3.075-.341-3.075-3.264-3.075-5.61a11.134,11.134,0,0,0-.58-4.44c-1.363-3.067-6.941-4.339-10.379-3.195-4.777,1.592-14.156,5.675-18.992,10.883-5.263,5.667-14.463,9.261-16.464,9.716l-.8.128-.319-.234c-.1-.071-2.383-1.775-8.153-7.957-1.668-1.786-2.261-1.727-2.309-1.718-.332.065-.777,1.222-1.071,1.988-.665,1.737-1.58,4.114-4,4.554l-.195.036c-4.451.806-6.292,1.14-5.227,7.534,1.207,7.242,1.473,14.5-9.411,16.767-2.827.589-4.617,1.636-5.467,3.2-1.628,2.989.2,7.747,2.141,12.787,2.539,6.6,1.5,7.663-2.144,10.042-.927.6-1.979,1.287-3.21,2.257-.858.675-1.863,1.656-1.778,2.512.12,1.2,2.343,2.335,3.965,3.161a20.083,20.083,0,0,1,1.879,1.037,3.837,3.837,0,0,1,1.369,3.231c.164,3.753-1.883,9.991-3.776,11.508l-.2.162c-2.457,1.975-9.941,7.987-15.7,4.884-2.871-1.55-4.2-1.285-6.855-.76a39.02,39.02,0,0,1-8.37.873c-7.566,0-8.955,1.26-10.877,3-.406.37-.829.751-1.321,1.14-3.2,2.539-12.391,3.694-19.57,3.694-5.984,0-6.8,2.733-7.512,5.145-.084.28-.164.553-.248.806-.541,1.62-1.828,2.356-3.454,3.284a21.62,21.62,0,0,0-5.027,3.688c-3.769,3.767-3.427,6.712-2.211,13.6,1.262,7.147,1.338,9.093-4.783,10.976l-.408.126c-5,1.529-8.294,2.539-12.166,14.926-2.207,7.066-4.377,9.506-6.477,11.868a26.57,26.57,0,0,0-5.915,10.04c-3.039,8.29-4.949,8.955-8.639,9.573a17.606,17.606,0,0,0-5.094,1.491c1.483,1.216,5.029,3.222,11.436,2.11,6.851-1.193,10.711.347,15.6,2.3a79.253,79.253,0,0,0,7.518,2.678l.688.2c9.466,2.764,13.386,3.908,19.325,4.3.721.048,1.365.08,1.948.107,4.811.234,5.94.5,9.07,6.6a35.52,35.52,0,0,1,3.511,9.417c.442,1.756.993,3.94,2,7.244a102.791,102.791,0,0,0,4.253,11.07c1.773,4.095,3.054,7.053,2.793,9.129a.855.855,0,0,0,.175.753c.793.869,3.8.768,5.786.694C1366.944,795.252,1367.54,795.232,1368.074,795.232Z" transform="translate(-1279.19 -546.402)" fill="#dfa9fe"/>
                                </g>
                                <g id="Grupo_7341" data-name="Grupo 7341" transform="translate(1627.1 456.542)">
                                    <path id="Caminho_17377" data-name="Caminho 17377" d="M1530.419,798.576l-.934-.29c-1.073-.334-10.538-3.376-11.889-7.432a30.939,30.939,0,0,0-2.675-5.151c-1.689-2.854-3.6-6.087-4.364-9.379-1.332-5.765,1.251-8.157,4.5-10.479.362-.257.684-.479.976-.675,1.853-1.262,1.926-1.313,1.926-5.151,0-3.12,2.343-5.56,4.607-7.918,1.691-1.758,3.437-3.576,4.106-5.585.522-1.565.429-1.927.406-1.982a5.036,5.036,0,0,0-.934-.263,10.256,10.256,0,0,1-4.528-2.07c-3.646-2.919-7.394-3.931-12.945-3.508-6.144.478-10.381-1.172-11.3-4.4-.783-2.735-4.786-6.649-11.289-12.77-3.565-3.357-4.148-2.953-5.7-1.889a10.756,10.756,0,0,1-6.847,2.148c-6.5,0-8.794-3.58-10.812-6.738a17.759,17.759,0,0,0-2.24-3.031c-.734-.732-1.366-1.445-1.944-2.095-2.177-2.453-2.953-3.185-4.794-2.263-3.008,1.5-7.484,3.437-11.67,2.981-3.075-.341-3.075-3.263-3.075-5.61a11.134,11.134,0,0,0-.58-4.44c-1.363-3.067-6.941-4.339-10.379-3.195-4.777,1.592-14.156,5.675-18.992,10.883-5.263,5.667-14.463,9.261-16.464,9.716a1.328,1.328,0,0,1-1.466-.32c-.7-.742-.631-2.329-.414-5.848.088-1.451.189-3.1.189-4.607,0-1.729.059-2.924.111-3.967a30.575,30.575,0,0,0-.1-5.429,9.433,9.433,0,0,0-1.964-4.455,22.483,22.483,0,0,1-3.443-7.364c-1.313-5.059-.446-6.815.755-9.245a24.02,24.02,0,0,0,1.394-3.26c1.237-3.708-2.787-11.4-4.442-14.045l-.166-.263.023-.311a75.939,75.939,0,0,0,0-10.16,21.546,21.546,0,0,0-.886-3.95c-.862-2.968-1.839-6.333,1.577-8.119a3.9,3.9,0,0,0,2.274-3.561,3.845,3.845,0,0,0-2.24-3.4,13.277,13.277,0,0,0-2.52-.835c-1.19-.3-2.312-.585-2.8-1.611-.416-.864-.25-1.988.557-3.761a18.9,18.9,0,0,0,1.146-3.862c.7-3.174,1.42-6.456,6.388-8.971,1.1-.558,2.209-1.106,3.286-1.638,3.391-1.677,7.954-3.936,8.8-5.042a17.874,17.874,0,0,0-2.1-.57c-3.447-.806-9.219-2.158-11.352-7.644a26.5,26.5,0,0,0-3.885-6.834,13.709,13.709,0,0,1-3.185-6.992c-.572-4.011-2.861-6.068-4.533-7.572a11.164,11.164,0,0,1-1.474-1.481c-1.226-1.634-4.1-5.46-1.292-10.137.871-1.451,3.044-3.044,5.559-4.89,3.7-2.716,8.3-6.094,8.7-9.253a3.72,3.72,0,0,0-.972-2.915c-3.584-4.352-5.3-3.837-7.678-3.132a10.266,10.266,0,0,1-4.049.589,6.928,6.928,0,0,0-2.1.088c-1.649.294-1.884,0-4.733-3.6-.562-.715-1.243-1.576-2.072-2.613a19,19,0,0,0-5.755-5.1c-2.415-1.443-3.223-2.232-2.7-7.966.385-4.241,2.1-7.211,3.761-10.082,1.988-3.441,3.706-6.413,2.852-11.11-.341-1.874-.578-3.382-.776-4.653-.753-4.808-.955-6.1-4.449-11.5a15.225,15.225,0,0,1-2.423-5.368c-.175-.757-.175-.757-3.691-1.495l-.711-.149c-7.656-1.613-10.7-2.7-11.613-4.173a1.943,1.943,0,0,1-.253-1.529c.259-1.033,1.763-1.977,6.354-4.628,4.074-2.354,9.142-5.284,12.049-8.191,5.79-5.789,12.682-13.229,14.615-19.413.33-1.05.646-2.122.964-3.2,1.71-5.757,3.473-11.708,7.111-15.345a45.62,45.62,0,0,0,8.462-12.492c1.136-2.646,4.06-10.3,4.476-11.386l1.288-16.876,1.237.551a95.319,95.319,0,0,0,9.331,3.458,38.173,38.173,0,0,1,10.726,5.1,10.743,10.743,0,0,0,5.782,2.288l.444.044c6.432.639,9.066,1.3,9.7,11.367.624,9.991.934,14.983-.017,19.739a1.59,1.59,0,0,0-.03.89c.64.356,3.938-1.144,6.348-2.24,1.552-.705,3.313-1.506,5.086-2.2a23.822,23.822,0,0,0,4.908-2.636c2.684-1.775,5-3.307,13.386-3.307,7.37,0,9.992,1.048,13.313,2.377a50.6,50.6,0,0,0,9.472,2.9c4.1.863,7.326,1.769,10.17,2.57,5.307,1.491,9.5,2.669,16.245,2.669,3.83,0,7.541-.04,10.9-.078,5.988-.067,10.713-.118,13.307.082l.816.057c3.694.254,6.365.437,16.636,6.893a72.252,72.252,0,0,1,14.682,12.1c1.778,1.813,3.618,3.685,5.858,5.62,2.665,2.3,4.882,4.487,7.026,6.6a102.213,102.213,0,0,0,11.792,10.376,165.289,165.289,0,0,0,21.157,13.2,11.547,11.547,0,0,1,2.31,1.611c2.677,2.146,7.16,5.738,14.333,5.738a20.955,20.955,0,0,0,7.522-1.533c4.28-1.527,6.9-2.032,10.951,5.433,5.887,10.845,8.948,28.33,9.076,29.07.155.98,3.717,23.813,1.859,35.584-1.847,11.691-3.078,17.154-7.89,24.215a75.7,75.7,0,0,1-7.825,9.533c-1.737,1.876-3.532,3.816-5.522,6.306a68.614,68.614,0,0,1-7.318,7.631,52.284,52.284,0,0,0-6.285,6.586c-3.58,4.682-6.578,6.125-10.374,7.951-.642.309-1.313.631-2.024.987a34,34,0,0,1-3.939,1.538c-5.086,1.759-10.852,3.753-12.894,11.466-1.906,7.2-5.046,11.925-8.082,16.493a71.5,71.5,0,0,0-4.062,6.6,57.115,57.115,0,0,1-5.433,8.578,23.17,23.17,0,0,0-2.3,3.473,2.9,2.9,0,0,1-2.253,1.729c-2.528.311-5.7-2.749-7.358-4.617a3.56,3.56,0,0,0-3.852-.637,4.977,4.977,0,0,0-3.456,4.386c-.183,2.97-1.778,5.319-3.185,7.389a12.628,12.628,0,0,0-2.393,4.773,127.062,127.062,0,0,0-1.536,23.967,58.923,58.923,0,0,1-1.532,15.069,29.865,29.865,0,0,0-.946,7.806,28.517,28.517,0,0,0,.812,6.075,41.635,41.635,0,0,1,1.045,6.887c.356,4.281-1.277,8.778-2.857,13.126-1.235,3.4-2.4,6.605-2.4,9.23a52.147,52.147,0,0,1-1.61,10.925,71.039,71.039,0,0,0-1.487,8.349c-.353,3.677-2.625,5.166-4.632,6.475-1.952,1.277-3.8,2.486-4.352,5.667-.137.791-.345,1.674-.631,2.7Zm-19.405-61.884a17.514,17.514,0,0,1,11.794,4.018,8.328,8.328,0,0,0,3.759,1.7,2.928,2.928,0,0,1,2.173,1.191c.479.848.254,1.975-.259,3.517-.807,2.415-2.7,4.392-4.539,6.3-2.1,2.183-4.077,4.243-4.077,6.6,0,4.52-.382,5.107-2.76,6.725-.278.191-.589.4-.94.652-2.96,2.116-4.821,3.853-3.75,8.5.692,3,2.528,6.1,4.146,8.837a31.881,31.881,0,0,1,2.844,5.515c.722,2.175,5.991,4.634,9.71,5.909.179-.686.314-1.3.412-1.853.692-4,3.08-5.557,5.185-6.935,1.964-1.283,3.513-2.3,3.777-5.061a72.113,72.113,0,0,1,1.525-8.576,49.873,49.873,0,0,0,1.565-10.517c0-2.96,1.222-6.321,2.514-9.88,1.51-4.156,3.073-8.454,2.751-12.318a39.84,39.84,0,0,0-1-6.616,30.365,30.365,0,0,1-.858-6.413,31.141,31.141,0,0,1,.984-8.29,56.516,56.516,0,0,0,1.49-14.628,129.215,129.215,0,0,1,1.556-24.293,14.164,14.164,0,0,1,2.7-5.564c1.332-1.961,2.707-3.99,2.859-6.439a6.922,6.922,0,0,1,4.737-6.069,5.364,5.364,0,0,1,5.9,1.174c2.3,2.581,4.537,4.135,5.683,3.992.225-.029.52-.135.8-.69a24.878,24.878,0,0,1,2.47-3.759,55.312,55.312,0,0,0,5.271-8.323,73.746,73.746,0,0,1,4.165-6.777c2.951-4.438,6-9.024,7.827-15.925,2.3-8.694,9.129-11.056,14.116-12.779a32.6,32.6,0,0,0,3.708-1.443c.719-.358,1.4-.686,2.049-1,3.845-1.851,6.386-3.073,9.686-7.39a54.115,54.115,0,0,1,6.5-6.824,66.736,66.736,0,0,0,7.132-7.427c2.032-2.541,3.852-4.508,5.614-6.411a74.459,74.459,0,0,0,7.648-9.31c4.592-6.739,5.782-12.047,7.581-23.439,1.811-11.472-1.82-34.741-1.857-34.976-.029-.164-3.134-17.907-8.87-28.47-3.471-6.4-4.987-5.852-8.633-4.548a22.608,22.608,0,0,1-8.165,1.643c-7.844,0-12.652-3.854-15.526-6.157a11.674,11.674,0,0,0-1.868-1.348c-2.417-1.035-13.344-7.343-21.542-13.414A105.221,105.221,0,0,1,1577,458.557c-2.123-2.089-4.319-4.251-6.939-6.514-2.3-1.986-4.163-3.887-5.97-5.726a69.68,69.68,0,0,0-14.335-11.824c-9.867-6.2-12.336-6.372-15.753-6.605l-.829-.059c-2.516-.191-7.436-.139-13.142-.076-3.366.038-7.083.078-10.921.078-7.009,0-11.312-1.21-16.76-2.741-2.816-.791-6.008-1.689-10.048-2.539a52.723,52.723,0,0,1-9.789-3c-3.252-1.3-5.6-2.24-12.6-2.24-7.81,0-9.806,1.319-12.337,2.991a25.667,25.667,0,0,1-5.259,2.821c-1.731.677-3.466,1.466-4.994,2.162-4.148,1.883-6.885,3.13-8.338,1.979a2.607,2.607,0,0,1-.637-2.739c.9-4.512.595-9.422-.013-19.2-.558-8.9-2.282-9.066-7.988-9.632l-.444-.044a12.576,12.576,0,0,1-6.651-2.6A36.087,36.087,0,0,0,1403,388.179c-3.378-1.094-6.051-2.061-8.285-2.995l-1.155,14.6c-.135.355-3.323,8.715-4.552,11.588a47.187,47.187,0,0,1-8.866,13.088c-3.3,3.3-4.992,9.013-6.632,14.541-.322,1.083-.642,2.164-.972,3.221-2.057,6.582-9.144,14.249-15.088,20.193-3.084,3.084-8.275,6.083-12.444,8.492-2.411,1.393-5.141,2.972-5.494,3.54.149.471,2.048,1.508,10.448,3.275l.707.151c4.171.875,4.707.987,5.158,2.93a13.468,13.468,0,0,0,2.164,4.762c3.715,5.742,3.952,7.249,4.733,12.242.2,1.26.429,2.751.768,4.607.978,5.385-1.083,8.953-3.077,12.4-1.557,2.693-3.164,5.477-3.513,9.3-.44,4.83-.057,5.059,1.78,6.155a21,21,0,0,1,6.266,5.543c.833,1.043,1.516,1.906,2.082,2.623a19.384,19.384,0,0,0,2.535,2.966,1.329,1.329,0,0,0,.362-.057,8.86,8.86,0,0,1,2.614-.109,8.394,8.394,0,0,0,3.332-.517c2.612-.776,5.309-1.578,9.693,3.748a5.612,5.612,0,0,1,1.4,4.363c-.5,3.971-5.261,7.467-9.463,10.551-2.253,1.651-4.379,3.212-5.053,4.335-1.979,3.3-.425,5.865,1.186,8.014a10.1,10.1,0,0,0,1.22,1.207A13.657,13.657,0,0,1,1380,581.66a11.84,11.84,0,0,0,2.833,6.127,28.644,28.644,0,0,1,4.127,7.278c1.769,4.548,6.729,5.709,10.011,6.477,2.1.492,3.365.787,3.641,1.887.505,2.032-2.678,3.7-9.932,7.289-1.071.53-2.171,1.075-3.271,1.632-4.16,2.1-4.726,4.687-5.385,7.678a20.377,20.377,0,0,1-1.273,4.241c-.724,1.594-.621,2.047-.574,2.146.107.221.911.425,1.557.589a14.953,14.953,0,0,1,2.863.961,5.735,5.735,0,0,1,3.332,5.084,5.812,5.812,0,0,1-3.3,5.284c-1.849.968-1.628,2.465-.629,5.9a22.948,22.948,0,0,1,.955,4.308,75.436,75.436,0,0,1,.023,10.162c1.01,1.677,6.1,10.492,4.47,15.393a25.845,25.845,0,0,1-1.495,3.5c-1.093,2.213-1.754,3.549-.616,7.92a20.49,20.49,0,0,0,3.185,6.792,11.141,11.141,0,0,1,2.269,5.318,32.528,32.528,0,0,1,.114,5.711c-.051,1.018-.109,2.185-.109,3.874,0,1.569-.1,3.246-.193,4.726a35.914,35.914,0,0,0-.116,4.1c2.6-.776,10.587-4.135,15.16-9.058,5.1-5.49,14.836-9.747,19.787-11.4,4.274-1.426,10.908.143,12.724,4.23a12.72,12.72,0,0,1,.743,5.214c0,2.8.17,3.582,1.378,3.715,3.679.406,7.818-1.4,10.609-2.793,3.235-1.618,5.013.385,7.072,2.7.555.623,1.163,1.308,1.866,2.013a19.566,19.566,0,0,1,2.5,3.353c1.926,3.012,3.744,5.858,9.205,5.858a8.963,8.963,0,0,0,5.772-1.817c2.366-1.616,3.849-1.908,8.082,2.074,7.366,6.933,10.93,10.538,11.815,13.635.645,2.259,4.221,3.418,9.326,3.025Q1509.824,736.69,1511.013,736.692Z" transform="translate(-1337.639 -382.357)" fill="#dfa9fe"/></g>
                            </g>
                            <text id="NORTE" transform="translate(500 2212.5)" fill="#fff" font-size="18" font-family="Montserrat-Bold, Montserrat" font-weight="700"><tspan x="0" y="17">NORTE</tspan></text>
                            <text id="NORDESTE" transform="translate(938 2341.5)" fill="#fff" font-size="18" font-family="Montserrat-Bold, Montserrat" font-weight="700"><tspan x="0" y="17">NORDESTE</tspan></text>
                            <text id="CENTRO_OESTE" data-name="CENTRO OESTE" transform="translate(616 2501.5)" fill="#fff" font-size="18" font-family="Montserrat-Bold, Montserrat" font-weight="700"><tspan x="0" y="17">CENTRO OESTE</tspan></text>
                            <text id="SUDESTE" transform="translate(833 2614.5)" fill="#fff" font-size="18" font-family="Montserrat-Bold, Montserrat" font-weight="700"><tspan x="0" y="17">SUDESTE</tspan></text>
                            <text id="SUL" transform="translate(703 2808.5)" fill="#fff" font-size="18" font-family="Montserrat-Bold, Montserrat" font-weight="700"><tspan x="0" y="17">SUL</tspan></text>
                        </g>
                    </svg>

                </div>
                <!-- /.ew-map -->
                <div class="ew-current-messages-list">
                    <h3>Veja as mensagens em tempo real</h3>
                    <div class="ew-current-messages-list-wrapper">
                        <span class="message-list-region">Nenhuma região escolhida</span>
                        <span class="ew-fallback-message">Por favor, escolha um região para ver as mensagens.</span>
                        <span class="ew-fallback-empty">Ainda não há nenhuma mensagem nessa região :(</span>
                        <ul>
                        </ul>
                    </div>
                    <!-- /.ew-current-messages-list-wrapper -->
                </div>
                <!-- /.ew-current-messages-list -->
            </div>
            <!-- /.messages-plus-map -->
        </div>
        <!-- /.wide-container -->
    </div>
    <!-- /#ew-message-list -->

    <div id="ew-about-our-campaign">
        <img src="../../assets/public/img/banner2.png" alt="Sobre a nossa campanha (ilustração)">
        <div class="wide-container">
            <div class="ew-about-content">
                <h3>Sobre nosso <br> Dia dos Pais</h3>
                <p>Nós acreditamos no poder das palavras. Em tempos de pandemia, onde o distanciamento social, como medida de segurança, fez com que ficássemos longe de quem amamos, acreditamos que uma mensagem pode fazer a diferença e aquecer o coração de quem amamos. </p>
                <p>Para o Dia dos Pais, a ClickBus criou um mural para que você envie um recado super especial para aquecer o coração de pais que estão neste momento com seus filhos distantes (Filhos que já moram em outra cidade, por exemplo!) Ah, e claro que você pode mandar aquele recado para seu próprio pai, para a mãe que é pai, tio que é pai, irmão que é pai, avô que é pai… 💜 </p>
                <p>E aí, vamos transformar esse Dia dos Pais, que será diferente, cheio de amor?</p>
            </div>
            <!-- /.about-content -->
        </div>
        <!-- /.wide-container -->
    </div>
    <!-- /#ew-about-our-campaign -->

    <div id="ew-modal-success-overlay">
        <div id="ew-modal-success">
            <img id="ew-close" class="ew-close" src="../../assets/public/img/close.png" alt="Close Icon">
            <div>
                <h4>Sua mensagem foi enviada e estará disponível em algumas horas &#128156;</h4>
                <p>Agora que tal compartilhar uma mensagem com o seu <b>prório</b> pai?</p>
                <a download="./img/share-image.png" href="./img/share-image.png">
                    <img src="../../assets/public/img/share-image.png" alt="Compartilhe sua mensagem com seu próprio pai" title="Compartilhe sua mensagem com seu próprio pai">
                </a>
                <div class="ew-social-list">
                    <p><b>Clique na imagem para salvá-la, escreva uma mensagem e compartilhe nas suas redes sociais!</b></p>
                    <a target="_blank" href="https://www.facebook.com/">
                        <img src="../../assets/public/img/facebook-circle.png" alt="Facebook Icon">
                    </a>
                    <a target="_blank" href="https://www.instagram.com/">
                        <img src="../../assets/public/img/instagram.png" alt="Instagram Icon">
                    </a>
                    <a target="_blank" href="https://wa.me/">
                        <img src="../../assets/public/img/whatsapp.png" alt="WhatsApp Icon">
                    </a>
                </div>
                <!-- /.ew-social-list --> 
            </div>
        </div>
        <!-- /#ew-modal-success -->
    </div>
    <!-- /#ew-modal-success-overlay -->

</section>
<!-- /#landing-page-content -->